-
    const about = [
        {
            image: 'icon-ellipse-frame',
            title: 'Собственное производство',
            desc: 'Мы — одна из ведущих компаний в области строительства чистых помещений',
        },
        {
            image: 'icon-ellipse-frame-1',
            title: 'Отгрузка за 2 дня',
            desc: 'Не срываем сроки, стремимся к максимальному качеству, лучшему сервису',
        },
        {
            image: 'icon-ellipse-frame-2',
            title: 'Гарантийный сервис',
            desc: 'Одно из главных направлений развития нашей компании — постоянное улучшение качества обслуживания клиентов',
        },
        {
            image: 'icon-ellipse-frame-3',
            title: 'Склад готовой продукции',
            desc: 'Мы — одна из ведущих компаний в области строительства чистых помещений',
        },
        {
            image: 'icon-ellipse-frame-4',
            title: 'Полная сертификация',
            desc: 'Имеем все необходимые сертификаты и лицензии для работы на рынках Европы, СНГ и Азии',
        },
        {
            image: 'icon-ellipse-frame-5',
            title: 'Офисы в России и Беларуси',
            desc: 'Мы — одна из ведущих компаний в области строительства чистых помещений',
        }
    ]

mixin about-block
    section.section-about-block
        .container
            .about-block
                .about-block__top
                    .about-block__left
                        .about-block__title О группе компаний «MAX Clean Room»
                        .about-block__link
                            a(href="#") Подробнее о компании 
                    .about-block__rigth
                        p Группа компаний MAX Clean Room — производственная инжиниринговая компания, занимающаяся проектированием, реконструкцией и строительством чистых производств в различных областях.
                        p За более чем 16 лет работы группа компаний MAX Clean Room успела поработать с 10 странами на рынках СНГ, Азии и Европы. На сегодняшний день офисы компании располагаются в Москве и в Минске. Мы постоянно работаем над расширением географии работы и осваиваем новые страны и территории.
                
                .about-block__list
                    each item in about
                        .about-block__item
                            .card-icon
                                .card-icon__img: +bgimage('/img/icons/'+item.image+'.svg')
                                .card-icon__text=item.title
                                .card-icon__desc=item.desc