include ../../components/video/video.pug

mixin about-block
    section.section-about-block
        .container
            .about-block
                .about-block__top
                    .about-block__left
                        .about-block__title О группе компаний «MAX Clean Room»
                        .about-block__link
                            a(href="#")
                                span Подробнее о компании 
                                +icons('#ic_to-catalog', 38)
                    .about-block__right
                        p Группа компаний MAX Clean Room — производственная инжиниринговая компания, занимающаяся проектированием, реконструкцией и строительством чистых производств в различных областях.
                        p За более чем 16 лет работы группа компаний MAX Clean Room успела поработать с 10 странами на рынках СНГ, Азии и Европы. На сегодняшний день офисы компании располагаются в Москве и в Минске. Мы постоянно работаем над расширением географии работы и осваиваем новые страны и территории.
                
                .about-block__list
                    each item in about
                        .about-block__item
                            .card-icon
                                .card-icon__img: +bgimage('/img/icons/'+item.image+'.svg')
                                .card-icon__main
                                    .card-icon__text=item.title
                                    .card-icon__desc=item.desc

mixin about-block--video
    section.section-about-block.section-about-block--video
        .container
            .about-block
                .about-block__top
                    .about-block__left
                        .about-block__title О группе компаний «MAX Clean Room»
                        .about-block__link
                            a(href="#")
                                span Подробнее о компании 
                                +icons('#ic_to-catalog', 38)
                    .about-block__right
                        p Группа компаний MAX Clean Room — производственная инжиниринговая компания, занимающаяся проектированием, реконструкцией и строительством чистых производств в различных областях.
                        p За более чем 16 лет работы группа компаний MAX Clean Room успела поработать с 10 странами на рынках СНГ, Азии и Европы. На сегодняшний день офисы компании располагаются в Москве и в Минске. Мы постоянно работаем над расширением географии работы и осваиваем новые страны и территории.
                
                .about-block__list

                    .about-block__item
                        +video({
                            'preview': '//img.youtube.com/vi/xGMTmfrNsz4/maxresdefault',
                            'link': 'https://www.youtube.com/watch?v=xGMTmfrNsz4',
                        })

                    each item in [about[0], about[1], about[4], about[5], about[3]]
                        .about-block__item
                            .card-icon
                                .card-icon__img: +bgimage('/img/icons/'+item.image+'.svg')
                                .card-icon__main
                                    .card-icon__text=item.title
                                    .card-icon__desc=item.desc