.section-mcr-orders {
    background-color: var(--color-bg-2);
    padding: 50px 0;
    font-size: 14px;

    @media screen and (min-width: $w1440) {
        font-size: 16px;
    }
}

.mcr-orders {
    &__head {
        padding-bottom: 36px;
    }

    &__title {
        @include font-h2;

        @media screen and (min-width: $w1200) {
            font-size: 32px;
        }

        @media screen and (max-width: $w992) {
            font-size: 28px;
        }


    }

    &__label {
        color: var(--color-text-2);
        font-size: 16px;
    }

    &__content {
        @media screen and (min-width: $w992) {
            display: flex;
            margin: -12px;
        }
    }

    &__right,
    &__left {
        padding: 12px;
        margin: -12px;
        flex-grow: 1;

        @media screen and (min-width: $w992) and (max-width: $w1200) {
            width: 50%;
        }
    }

    &__right {
        & .mcr-block {

            height: auto;
            display: flex;
            flex-direction: column;
            width: 100%;

            @media screen and (min-width: $w992) {
                height: 100%;
            }

            &__orders {
                flex-grow: 1;
                position: relative;
                overflow-y: auto;
                margin-right: -6px;
                width: auto;
                height: auto;

                &.is-open {

                    overflow-y: visible;
                    height: auto;

                    & .mcr-block {
                        &__scroll {
                            position: static;
                        }
                    }
                }

            }

            &__scroll {
                position: static;
                left: 0;
                top: 0;
                width: calc(100% - 3px);

                @media screen and (min-width: $w992) {
                    position: absolute;
                }

            }

        }

        & .mcr-orders {
            &__item {
                height: 100%;

            }


        }
    }

    &__left {
        @media screen and (min-width: $w992) {
            max-width: 628px;
        }

        @media screen and (min-width: $w760) and (max-width: $w992) {
            display: flex;

            & .mcr-orders {
                &__item {
                    min-width: 320px;
                }
            }

            & .mcr-block {
                height: 100%;
            }
        }
    }

    &__item {
        padding: 12px 0;

        @media screen and (min-width: $w760) {
            padding: 12px;

        }
    }


}

.mcr-block {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;

    &__title {
        @include font-h4;
        padding-bottom: 8px;

        @media screen and (max-width: $w992) {
            font-size: 20px;
        }
    }

    &__desc {
        padding-bottom: 26px;
    }

    &__orders {

        width: 100%;
        margin: -3px;

        @media screen and (min-width: $w1440) {
            padding-top: 14px;
        }


    }

    &__scroll {
        width: 100%;

        @media screen and (min-width: $w576) {
            display: table;
        }
    }

    &__docs {
        & ul {

            display: flex;
            flex-direction: column;
            gap: 12px;


            overflow-y: auto;
            padding-right: 6px;
            margin-right: -6px;

            @media screen and (min-width: $w992) {
                max-height: 90vh;
            }


            & a {
                display: flex;
                align-items: center;
                background-color: var(--color-bg-2);
                padding: 14px 16px;
                border-radius: 6px;
                transition: 0.3s ease;


                &:hover {
                    background-color: var(--color-bg-3);

                    & svg {
                        fill: var(--color-accent-2);
                    }
                }
            }

            & span {
                color: var(--color-text-2);
                text-transform: uppercase;
                margin-left: 6px;
            }

            & svg {
                margin-left: auto;
                fill: var(--color-accent-1);
                transition: 0.3s ease;
            }
        }
    }

    &__desc {
        color: var(--color-text-2);
    }

    &__label {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 9px;

        @media screen and (min-width: $w1440) {
            font-size: 18px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 42px;
        padding-top: 16px;
    }



    &__list {
        display: flex;

        & ul {

            display: flex;
            gap: 24px;
            flex-wrap: wrap;




            & li {
                display: flex;
                flex-direction: column;

                & small {
                    font-size: 14px;
                    color: var(--color-text-2);
                    padding-bottom: 6px;
                }

                & a {
                    font-weight: 600;
                    color: var(--color-accent-1);

                    &:hover {
                        color: var(--color-accent-2);
                    }
                }

                & span {
                    font-weight: 600;
                }
            }
        }
    }

    &__more {

        padding-top: 24px;

        @media screen and (max-width: $w992) {
            display: none !important;
        }

        &:not(.is-visible) {
            display: none;
        }

        & .btn {
            height: 50px;
            font-size: 16px;
            width: 100%;
        }
    }


}

.order-row {

    @media screen and (max-width: $w576) {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        &>div {
            flex-grow: 1;
            flex-basis: 150px;

            &:first-child {
                width: 100%;
                flex-basis: 100%;
            }
        }
    }

    @media screen and (min-width: $w576) {
        display: table-row;

        &:first-child {
            position: sticky;
            top: -14px;
            z-index: 5;
            background-color: #fff;
        }

        &:hover {
            &>div:not(.order-row__head) span {
                background-color: var(--color-bg-3);
            }
        }

    }



    &__head,
    &__col {

        vertical-align: middle;

        @media screen and (min-width: $w576) {
            display: table-cell;
            width: 30%;
            padding: 3px;
        }

        & span {
            display: block;
            width: 100%;
            background-color: var(--color-bg-2);
            padding: 10px 14px;
            font-size: 14px;
            border-radius: 6px;
            min-height: 48px;

            @media screen and (min-width: $w1440) {
                padding: 12px 14px;
            }


        }

        &:first-child {
            width: 40%;
        }
    }




    &__head {

        display: none;

        @media screen and (min-width: $w576) {
            display: table-cell;
        }

        & span {
            background-color: var(--color-bg-6);
            color: #fff;
            font-weight: 600;
            font-size: 15px;
        }
    }

    & .order {
        &-id {
            display: flex;
            justify-content: space-between;
            align-items: center;


            & a {
                font-weight: 700;
                color: var(--color-accent-1);

                &:hover {
                    color: var(--color-accent-2);
                }
            }

            & svg {
                fill: var(--color-accent-1);
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {

                    fill: var(--color-accent-2);
                    cursor: pointer;
                }
            }

            &:hover {
                background-color: var(--color-bg-3);


            }

        }

        &-status {
            background-color: #eee;
            font-weight: 500;
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                width: 8px;
                height: 8px;
                display: block;
                position: absolute;
                left: 10px;
                top: calc(50% - 4px);
                transform: rotate(45deg);
                border-radius: 1px;
                background-color: #888;
            }
        }
    }




}

.status {
    &--orange {
        & .order-status {
            background-color: #FFFBF5;
            color: #F59300;

            &::before {
                background-color: #F59300;
            }
        }
    }

    &--gray {
        & .order-status {
            background-color: #F7F7F7;
            color: #7688AD;

            &::before {
                background-color: #7688AD;
            }
        }
    }

    &--green {
        & .order-status {
            background-color: #F0FFFA;
            color: #00B87A;

            &::before {
                background-color: #00B87A;
            }
        }
    }
}