mixin single-order

    -
        const log = [
            {
                'icon':'../../../../img/icons/icon-advantage/07-list.svg',
                'title':'Финальное коммерческое предложение №1278990',
                'desc':'Дата: 31.10.2023',
                'status':'Готово',
                'docs':'kp_12345678.pdf',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/08-document.svg',
                'title':'Договор №1278990',
                'desc':'Дата: 15.11.2023',
                'status':'Подписано',
                'docs':'dogovor_12345678.pdf',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/09-payment.svg',
                'title':'Счёт №1278990',
                'desc':'Дата: 15.11.2023',
                'status':'Оплачено',
                'docs':'schet_12345678.pdf',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/10-approval-card.svg',
                'title':'Подготовка карточки согласования',
                'desc':'Дата: 31.10.2023',
                'status':'Готово',
                'docs':'kartochka_12345678.pdf',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/01-production.svg',
                'title':'Производство',
                'desc':'Дата: 31.10.2023',
                'status':'Готово',
                'docs':'-',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/11-payment-done.svg',
                'title':'Оплата по уведомлению',
                'desc':'Дата: 31.10.2023',
                'status':'Оплачено',
                'docs':'schet_12345679.pdf',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/12-delivery.svg',
                'title':'Доставка',
                'desc':'Дата начала: 31.10.2023 Дата окончания: 31.10.2023',
                'status':'Готово',
                'docs':'-',
            },
            {
                'icon':'../../../../img/icons/icon-advantage/02-time.svg',
                'title':'Монтаж',
                'desc':'Дата начала: 31.10.2023 Дата окончания: 31.10.2023',
                'status':'Готово',
                'docs':'-',
            },
        ]

    section.section-single-order
        .container
            .single-order
                .single-order__head
                    .single-order__back
                        a(href='./home.html')
                            +icons('#ic_back')
                            span Назад ко всем заказам
                    .single-order__label Заказ №:
                    .single-order__title 1278990
                    .single-order__status.status--green
                        span.order-status Выполнен

                .single-order__content
                    .single-order__row
                        .single-order__col
                            .mcr-block
                                .mcr-block__title Личный менеджер
                                .mcr-block__row
                                    .mcr-block__contacts
                                        .mcr-block__list
                                            ul
                                                li
                                                    small  Имя:
                                                    span Константин Длиннофамильный
                                                li
                                                    small Email:
                                                    a(href='mailto:k.dlinnofamilniy@maxcr.ru') k.dlinnofamilniy@maxcr.ru
                                                li
                                                    small Телефон:
                                                    a(href='+7 (499) 113-56-52') +7 (499) 113-56-52
                                                li
                                                    small Добавочный:
                                                    span 113
                        .single-order__col
                            .mcr-block
                                .mcr-block__title Адрес поставки
                                .mcr-block__row
                                    .mcr-block__contacts
                                        .mcr-block__list
                                            ul
                                                li
                                                    small  Страна:
                                                    span Россия
                                                li
                                                    small Город:
                                                    span Кременчуг-Константиновское
                                                li
                                                    small Место поставки:
                                                    span Улица Островского, дом 44, корпус 1

                .single-order__log
                    .single-order__log-title Информация о заказе
                    .single-order__list
                         
                         
                            .log-item.log-item--head
                                .log-item__main Название этапа
                                .log-item__status Статус
                                .log-item__docs Документ

                            each item in log      
                                .log-item
                                    .log-item__main
                                        .log-item__wrp
                                            .log-item__icon
                                                span.bgimage
                                                    if(item.icon == '../../../../img/icons/icon-advantage/07-list.svg')
                                                        include ../../../../img/icons/icon-advantage/07-list.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/08-document.svg')
                                                        include ../../../../img/icons/icon-advantage/08-document.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/09-payment.svg')
                                                        include ../../../../img/icons/icon-advantage/09-payment.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/10-approval-card.svg')
                                                        include ../../../../img/icons/icon-advantage/10-approval-card.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/01-production.svg')
                                                        include ../../../../img/icons/icon-advantage/01-production.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/11-payment-done.svg')
                                                        include ../../../../img/icons/icon-advantage/11-payment-done.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/12-delivery.svg')
                                                        include ../../../../img/icons/icon-advantage/12-delivery.svg
                                                    if(item.icon == '../../../../img/icons/icon-advantage/02-time.svg')
                                                        include ../../../../img/icons/icon-advantage/02-time.svg 
                                            .log-item__data
                                                .log-item__title= item.title 
                                                .log-item__desc= item.desc  
                                    .log-item__status= item.status
                                    .log-item__docs
                                        if item.docs != '-'
                                            ul
                                                li: a(href='#') 
                                                    span kp_12345678.pdf
                                                    +icons('#ic_dl')
                                        else
                                            span -
