mixin vacancy-details
    section.section-vacancy-details
        .container
            .vacancy-details
                
                .vacancy-details__article
                     
                    atricle.formated-text

                        p Краткое описание вакансии. Кто нужен, зачем и на каких условиях. Группа компаний MAX Clean Room — ведущая производственная инжиниринговая компания, занимающаяся проектированием, реконструкцией и строительством чистых производств в различных областях.
                        h6  Обязанности:
                        ul
                            li Контроль выполнения работ по инсталляции, контроль сроков;
                            li Выбор и поиск подрядчиков для реализации проектов;
                            li Отслеживание и контроль сроков производства материалов и оборудования;
                            li Контроль изготовления материалов и оборудования. Сопровождение поставки материалов и оборудования на объект.
                        h6  Требования:
                        ul
                            li Высшее техническое образование;
                            li Владение AutoCad (возможно использование другой проектной среды) для работы с технической информацией (чтение и корректировки);
                            li Самостоятельность в организации рабочего времени;
                            li Ответственность.
                        h6  Условия:
                        ul
                            li Комфортабельный офис ( БЦ Европа, м.Академия Наук);
                            li Оплачиваемая телефония и полностью оборудованное рабочее место.
                        h6  Мы предлагаем:
                        ul
                            li Официальное трудоустройство;
                            li Стабильная оплата труда (оклад + ежемесячная бонусная часть + годовые премии);
                            li Офис в БЦ Европа (р-н Бангалор, ул.Сурганова, Рига );
                            li Корпоративная мобильная связь;
                            li Больничные, отпускные и все то, что положено по ТК РБ.
                        h6 Если Вы цените свое время и всегда нацелены на результат — мы будем рады Вам в нашем коллективе!

