.section-company-history {
    padding: 40px 0;


}

.company-history {
    &__item {
        &::after {
            content: '';
            height: 15px;
            width: 2px;
            background-color: var(--color-borders-2);
            display: block;
            margin-left: 60px;

            @media screen and (min-width: $w760) {
                height: 24px;
            }

            @media screen and (min-width: $w1440) {
                margin-left: 120px;
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.history-item {
    background-color: var(--color-bg-2);
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s ease;

    @media screen and (min-width: $w760) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: $w1440) {
        padding: 24px 36px;
    }

    &__year {

        padding-bottom: 12px;
        display: inline-block;

        @media screen and (min-width: $w760) {
            padding-bottom: 0;
        }

        & span {
            background-color: #fff;
            padding: 6px 12px;
            border-radius: 6px;
            display: inline-block;
            transition: 0.3s ease;

            @include font-h3;
            color: var(--color-accent-1);

            @media screen and (min-width: $w1440) {
                padding: 10px 24px;
                min-width: 170px;
                text-align: center;
            }
        }


    }

    &__text {
        font-size: 14px;


        @media screen and (min-width: $w760) {
            padding-left: 24px;
            display: flex;
            align-items: center;
        }

        @media screen and (min-width: $w992) {
            font-size: 16px;
        }

        &::before {
            content: '';
            min-width: 6px;
            width: 6px;
            height: 6px;
            display: inline-block;
            vertical-align: super;
            transform: rotate(45deg);
            background-color: var(--color-accent-1);
            position: relative;
            top: 2px;
            margin: 14px 12px 0 0;
            transition: 0.3s ease;

            @media screen and (min-width: $w760) {
                top: 0;
                margin-top: 0;
                margin-right: 24px;
            }


        }

        & a {
            color: var(--color-accent-1);
            font-weight: 600;

            &:hover {
                color: var(--color-accent-2);
            }
        }
    }

    &:hover {
        background-color: var(--color-bg-3);

        & .history-item {
            &__year {
                & span {
                    color: var(--color-accent-2);
                }
            }

            &__text {
                &::before {
                    background-color: var(--color-accent-2);
                    transform: rotate(405deg);
                }
            }
        }
    }
}