mixin history

    -
        const hst = [
            {
                year: '2006',
                text: 'Создание компании, путем объединения зарубежного и национального капитала со штаб квартирой в Шанхае (Китай). С этого момента начинается активная деятельность компании по выходу на международные рынки стран СНГ и Азии.',
            },
            {
                year: '2007',
                text: 'Открытие собственного производства чистых помещений в Китае, Сучжоу, провинции Цзянсу. Было закуплено новейшее оборудование, приобретены в собственность производственные помещения площадью более 2000 кв.м, складские помещения и торгово-выставочные залы.',
            },
            {
                year: '2008',
                text: 'Создание проектно-конструкторского направления в компании. С этого момента компания выполняет весь цикл по проектированию и <a href="#" >созданию чистых помещений под ключ</a> самостоятельно.',
            },
            {
                year: '2009',
                text: 'Открытие официального представительства в Москве, выход на рынок Российской Федерации.',
            },
            {
                year: '2010-11',
                text: 'Реализация ряда крупных проектов в Китае и других странах Азии. Строительство крупных фармацевтических <a href="#" >заводов в СНГ</a> : в Республике Беларусь, Российской Федерации, Казахстане.',
            },
            {
                year: '2012',
                text: 'Открытие представительства в Республике Беларусь, в связи с получением большого количества крупных заказов в Беларуси.',
            },
            {
                year: '2013',
                text: 'Выход на рынок Европейского Союза.',
            },
            {
                year: '2014',
                text: 'Реализация ряда крупных проектов по строительству фармацевтических заводов в странах СНГ, работа с международными брендами.',
            },
            {
                year: '2015',
                text: 'Аудит собственного производства чистых помещений с выдачей соответствующих международных сертификатов независимыми экспертными организациями. Регистрация собственного торгового знака в различных странах мира.',
            },
            {
                year: '2016',
                text: 'Реализация нескольких крупных проектов в области микроэлектроники на территории стран ЕС. Компания принимает участие как субподрядная организация в крупных инвестиционных проектах по производству, поставке и монтажу чистых помещений. В связи с расширением географии деятельности и поступлением заказов из новых стран, открываются представительства на территории Польши и Республики Казахстан.',
            },
            {
                year: '2017',
                text: 'Компания приступила к реализации инвестиционного проекта в России.',
            },
            {
                year: '2018',
                text: 'Белорусский офис компании начинает поставки продукции под брендом <a href="#" >MAX Clean Room</a> .',
            },
            {
                year: '2019-20',
                text: 'Работа с известными международными брендами и крупными производственными компаниями РФ. Начали работать по заявкам Гособоронзаказа со специальными счетами в Альфа Банк и Промсвязьбанк. Членство в Ассоциации СРО «ЭкспертСтрой», получение необходимых сертификатов для выполнения услуг генподряда.Строительство больниц для пациентов с COVID-19 в Казахстане.',
            },
            {
                year: '2021-23',
                text: 'Осуществление поставок для госкорпораций  «Роскомос», «Росатом», ПАО «Уралкалий» и др. Увеличение мощностей собственного производства в Республике Беларусь.Расширение ассортимента выпускаемой продукции.',
            },
        ]

    section.section-company-history
        .container
            .company-history
                .company-history__list
                    each item in hst
                        .company-history__item
                            .history-item
                                .history-item__year
                                    span= item.year
                                .history-item__text: span!= item.text 