include  ../../components/breadcrumb/breadcrumb.pug
include  ../minicard/minicard.pug 
include  ../../components/pagination/pagination.pug
include  parts/filter-parts.pug


mixin catalog-category
    section.section-catalog-category
        .container
            .catalog-category
               
                .catalog-category__content
                    .catalog-category__aside(style="display:block")
                        .current-category
                            .current-category__label Категории
                            .current-category__parent
                                a(href='#')
                                    +icons('#ic_arrow-prev', 24)
                                    span Весь каталог
                                a(href='#')
                                    +icons('#ic_arrow-prev', 24)
                                    span Оснащение для чистых помещений
                                
                            .current-category__link Передаточные боксы
                            .current-category__sub
                                ul
                                    li: a(href='#') Активные
                                    li: a(href='#') Пассивные

                        include  parts/filter.pug
                                 

                    .catalog-category__main  
                        .catalog-category__top

                            .catalog-category__fl
                                button.btn.btn-small(data-filter="open")
                                    +icons('#ic_filter')
                                    span Фильтр
                            .catalog-category__help
                                a(href='#'): button.btn.btn-small Помощь <span> с подбором</span>
                           
                             

                        .catalog-category__products

                            .catalog-products(data-catalog="container")
                                each item in sliderProduct
                                    .catalog-products__item: +minicard(item)

                            .catalog-pagination
                                .catalog-pagination__more
                                    button
                                        +icons('#ic_more', 14)
                                        span Показать ещё
                                .catalog-pagination__page
                                    +pagination()

                        .catalog-category__seotext
                            .formated-text
                                h3 Полезная информация
                                p Передаточное окно – это бокс в форме куба с двумя и более (до 4-х) дверцами. Шлюз позволяет сохранять герметичность и не допускать смешения воздуха помещений. Блоки устанавливают в ограждающих стенах или дверных проемах.
                                p Пасс-боксы – отличная возможность перемещать небольшие стерильные предметы между помещениями разных классов чистоты. Для снижения до минимума риска загрязнения достаточно купить передаточное окно MAX Clean Room.
                                
                                h3 Конструкция
                                strong Устройство включает в себя:
                                ul
                                    li Корпус из стали - материал устойчив к механическим воздействиям.
                                    li Внутренний металлический короб из полированной «нержавейки». Гладкие поверхности легко дезинфицировать.
                                    li Двери глухие или с остеклением. Закаленное стекло смотровых окошек не искажает предметы.
                                    li Ручки и петли скрытого исполнения. На них не скапливаются загрязнения. Боксы не имеют наружного крепежа.

                                img(src="/img/products/image15.jpg")

                                strong Мы предлагаем камеры двух типов:
                                ul
                                    li Пассивные. Внутри установлена УФ лампа. Дверцы снабжены ревизионным окном и замком.
                                    li Активные. Попеременно (при необходимости одновременно) запускаются циклы обдува и обеззараживания ультрафиолетом. Блокировка дверей электромагнитная либо механическая.

                                h3 Комплектация
                                strong Базовая поставка:
                                ul
                                    li корпус из холоднокатаного стального листа с порошковой окраской;
                                    li внутренняя рабочая камера;
                                    li замки (механические);
                                    li УФ лампа;
                                    li система блокирования дверей (механическая).
                                strong По желанию заказчика исполнение можно изменить под его проект:
                                ul
                                    li материалы корпуса и короба – нержавеющая сталь;
                                    li замок с электронным механизмом;
                                    li системы блокировки электронные;
                                    li переговорные устройства.
                                strong Каждая опция учитывается в суммарной цене на передаточный шлюз.


mixin find-result
    section.section-find-result
        .container
            .find-result
                .find-result__field
                    form(action='/find-result.html' method='GET')
                            .find-result__input
                                input(type="text" placeholder="Поиск по сайту" value="Вытяжной шкаф")
                            .find-result__btn
                                button.btn.btn-small(type="submit")
                                    +icons('#ic_loupe')
                .find-result__list
                    each item in [...sliderProduct, ...sliderProduct]
                        .find-result__item: +minicard(item)
                        
            .catalog-pagination
                .catalog-pagination__more
                    button
                        +icons('#ic_more', 14)
                        span Показать ещё
                .catalog-pagination__page
                    +pagination()