.section-catalog-category {
    padding: 32px 0px;
}

.catalog-category {

    &__aside {

        display: none;

        @media screen and (min-width: $w1440) {
            min-width: 310px;
        }

        @media screen and (min-width: $w992) {
            min-width: 270px;
            width: 270px;
            display: block;
        }



        & nav {
            &>ul {
                &>li {
                    padding-bottom: 36px;
                    display: none;

                    &:nth-child(-n+5) {
                        display: block;
                    }


                    &>a {
                        font-weight: 600;
                        font-size: 17px;
                        margin-bottom: 15px;
                        display: inline-block;

                        &:hover {
                            color: $accent-2-1;
                        }
                    }
                }
            }

            & .sub-menu {

                &.is-open {
                    & li {
                        display: block;

                    }
                }


                & li {
                    padding: 5px 0 5px 0;


                    display: none;


                    &:nth-child(-n+5) {
                        display: block;
                    }


                    & a {
                        font-size: 15px;
                        color: #222;

                        &:hover {
                            color: $accent-2-1;
                        }
                    }
                }
            }
        }

        &.is-open {
            &>nav {
                &>ul {
                    &>li {
                        display: block;
                    }
                }
            }
        }
    }

    &__content {

        padding-bottom: 50px;

        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__main {
        @media screen and (min-width: $w1440) {
            min-width: calc(100% - 310px);
            width: calc(100% - 310px);
        }

        @media screen and (min-width: $w992) {
            min-width: calc(100% - 270px);
            width: calc(100% - 270px);
            padding-left: 24px;
        }

    }

    .shop-category {
        padding: 0;
    }

    &__banner {
        padding-bottom: 30px;

        @media screen and (min-width: $w760) {
            padding-bottom: 40px;
        }
    }

    &__h2 {
        @include font-h2;
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    &__item {
        width: 50%;
        padding: 8px;

        @media screen and (min-width: $w760) {
            width: 33.33%;
        }

        @media screen and (min-width: $w1200) {
            width: 25%;
        }

        @media screen and (min-width: $w1440) {
            width: 20%;
        }
    }

    &__all {
        &.sub-menu-toggle {
            &:not(.is-visible) {
                display: none;
            }
        }
    }

    &__article {

        margin-left: auto;

        @media screen and (min-width: $w1440) {
            min-width: calc(100% - 320px);
            width: calc(100% - 320px);
        }

        @media screen and (min-width: $w992) {
            min-width: calc(100% - 270px);
            width: calc(100% - 270px);
            padding-left: 33px;
        }
    }

    &__bottom-info {
        color: $gray-56;
        font-size: 14px;
        line-height: 140%;
        padding-top: 30px;

        @media screen and (min-width: $w576) {
            font-size: 15px;
        }
    }

    &__seotext {

        padding-top: 40px @media screen and (min-width: $w1440) {
            padding-top: 60px;
        }
    }
}

/* ====================================================================== */
/* ====================================================================== */

.category-filter {

    display: none;
    background-color: var(--color-bg-2);
    padding: 24px 20px;
    border-radius: 12px;

    @media screen and (min-width: $w992) {
        display: block;
    }

    @keyframes fade-drop-filter {
        from {
            opacity: 0;
            transform: translateY(10vh);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.is-open {
        position: fixed;
        display: flex;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;

        z-index: 1000;
        animation: fade-drop-filter 0.3s ease forwards;
        height: 100%;



        & .category-filter {
            &__wrp {
                padding: 16px;
                display: flex;
                flex-direction: column;
            }

            &__props {
                flex-grow: 1;
                overflow: auto;
                height: calc(100vh - 64px - 48px);
                height: calc((var(--vh, 1vh) * 100) - 64px - 48px);
                padding-bottom: 16px;
            }

            &__send {
                width: 50%;

                & .btn {
                    width: 100%;
                }
            }

            &__clear {
                width: 50%;
            }

        }
    }

    &__head {

        height: 48px;
        min-height: 48px;
        padding: 8px 15px 10px 15px;
        display: flex;
        align-items: center;
        position: relative;

        @media screen and (min-width: $w992) {
            padding: 0;
            height: auto;
            min-height: auto;
            margin-top: -2px;
            padding-bottom: 14px;
        }



        &-title {
            font-size: 20px;
            font-weight: 600;
            font-family: geometria;
        }

        &-close {
            position: absolute;
            right: 4px;
            top: 4px;
            z-index: 5;

            @media screen and (min-width: $w992) {
                display: none;
            }

            & .icon-cross {
                width: 40px;
                height: 40px;
                min-width: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                display: block;
                opacity: 0.3;
                cursor: pointer;
                border-radius: 4px;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.9;
                    background-color: #fff;
                }
            }
        }
    }

    &__submit {
        display: flex;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
        margin: -16px -16px -16px -16px;
        padding: 8px 16px;
        background-color: var(--color-bg-2);
        z-index: 5;
        position: relative;

        @media screen and (min-width: $w992) {
            box-shadow: none;
            padding-top: 14px;
            margin-top: 0;
        }
    }

    &__clear {
        height: 40px;
        width: 40px;
        background-color: #fff;
        color: $gray-56;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 6px;
        margin-left: 12px;
        transition: 0.3s ease-in;

        @media screen and (min-width: $w992) {
            height: 40px;
            margin-left: 0;
            margin-left: auto;
        }

        & svg {
            fill: var(--color-accent-1);
            transition: 0.3s ease-in;
        }

        &:hover {
            background-color: var(--color-accent-2);

            & svg {
                fill: #fff;
            }
        }

    }


    &__send {

        & button {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-weight: 400;


            & small {
                font-size: 12px;
                padding-top: 2px;
                font-weight: 400;
            }
        }
    }

    &__check {
        padding-bottom: 18px;

        & .checkbox__text {
            font-weight: 700;
            font-size: 14px;
            line-height: 125%;
        }
    }


}

.filter-properties {
    padding: 11px 0 6px 0;
    transition: 0.3s ease;
    overflow: hidden;

    &.is-height-auto {
        max-height: 100vh !important;
    }

    &.is-hide {



        & .filter-properties {
            &__cross {
                opacity: 1;

                &::after {
                    height: 100%;
                }
            }

            &__colors,
            &__list {
                overflow: hidden;
            }
        }
    }

    &__single {
        & .checkbox__text {
            font-weight: bold;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 18px;

        &:hover {
            //color: $accent-2-1;
            cursor: pointer;
        }
    }

    &__cross {
        min-width: 12px;
        width: 12px;
        height: 12px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 7px;
        margin-right: 9px;
        cursor: pointer;
        opacity: 0;

        &::before {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            content: '';
            background-color: #000;
            position: absolute;
            top: 50%;
            margin-top: -1px;
        }

        &::after {
            content: '';
            height: 0;
            width: 2px;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            margin-left: -1px;
            background-color: #000;
            transition: 0.3s ease;
        }


    }

    &__head {
        display: flex;
        justify-content: space-between;

    }

    &__input {
        display: flex;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        border-color: $gray-92 !important;
        border-radius: 4px;

        & span {
            color: $gray-56;
        }

    }

    &__slider {
        margin: 0 -10px;
        padding-top: 3px;
    }

    &__colors {

        max-height: 600px;
        transition: 0.3s ease;
        overflow: hidden;

        &:hover {
            overflow: visible;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -2px;

            & li {
                padding: 2px;

                & label {
                    & input {
                        display: none;

                        &[disabled] {

                            &~span {
                                pointer-events: none;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAxMi4zNjRMLjM1NyAyNC4zNWwtLjcxNy0uNjk3IDExLjY2MS0xMi4wMDVMLjMyNy4zNDlsLjcxOC0uNjk3IDEwLjk1NCAxMS4yNzdMMjIuOTU0LS4zNDhsLjcxNy42OTctMTAuOTc1IDExLjI5OCAxMS42NjIgMTIuMDA1LS43MTcuNjk3LTExLjY0Mi0xMS45ODV6IiBmaWxsPSIjQ0NDIi8+PC9zdmc+);
                            }

                        }

                        &:checked {
                            &~span {
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);

                                &.color--border {
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+);
                                }

                            }
                        }
                    }

                    & span {

                        &::before {
                            min-width: auto;
                            white-space: nowrap;
                            top: auto;
                            bottom: calc(100% + 8px);
                            padding: 6px 10px;
                            font-size: 13px;
                            transform: translateX(calc(-50% + 12px));
                        }
                    }


                }
            }

            & span {
                width: 26px;
                height: 26px;
                background-color: #eee;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
                position: relative;


                & svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                &.multi-color {
                    background-color: transparent;
                }
            }
        }
    }

    &__range {
        & input {
            border: none;
            height: 100%;
            padding: 0 7px;
        }

        & .filter-properties {
            &__input {
                border: 1px solid $gray-96;
                padding: 0 11px;
            }

            &__row {
                margin: 0 -5px;
            }
        }
    }

    &__row {

        display: flex;
    }

    &__list {


        transition: 0.3s ease;
        overflow: auto;
        max-height: 70vh;

        & ul {

            &.is-open {

                overflow-y: auto;
                max-height: 50vh;

                @include scrollbar;

                & li {
                    display: block;
                }
            }

            & li {
                padding-bottom: 12px;
                display: none;

                &:nth-child(-n+5) {
                    display: block;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    &:hover {
        & .filter-properties__cross {
            opacity: 1;
        }
    }
}

.filter-properties__list-shop {
    ul {
        display: flex;
        align-items: center;

        li {
            label {
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }

}

.current-category {
    display: none;
    padding-bottom: 12px;
    background-color: var(--color-bg-2);
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;

    @media screen and (min-width: $w992) {
        display: block;
    }

    &__label {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 5px;
    }

    &__parent {

        padding: 18px 0 13px 0;
        font-size: 15px;

        & a {
            display: flex;
            align-items: flex-start;
            padding-bottom: 12px;

            &:last-child {
                padding-bottom: 0;
            }
        }

        & svg {
            width: 18px;
            height: 18px;
            fill: var(--color-text-1);
            margin-top: 3px;
        }

        & span {
            color: var(--color-text-1);
            padding-left: 2px;


        }


        & a {
            &:hover {
                & svg {
                    fill: var(--color-accent-2);
                }

                & span {
                    color: var(--color-accent-2);
                }
            }
        }

    }

    &__link {

        font-weight: 500;
        background-color: var(--color-bg-6);
        border-radius: 6px;
        height: 32px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;

        padding-top: 5px;
        padding-bottom: 7px;
    }

    &__sub {
        & ul {
            padding-top: 8px;

            & li {
                padding: 0px 0;

                & a {
                    display: block;
                    padding: 6px 12px 7px 12px;
                    border-radius: 6px;
                    background-color: transparent;
                    transition: 0.2s ease;
                    font-size: 15px;
                    min-height: 32px;

                    &:hover {
                        background-color: #fff;
                        color: var(--color-accent-2);
                    }
                }
            }
        }
    }

}


.catalog-category {


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 10px 0;

        @media screen and (min-width: $w992) {
            padding: 0 0 24px 0;
        }
    }

    &__help {
        margin-left: auto;
        width: 100%;
        max-width: 320px;

        & .btn {
            width: 100%;
        }
    }


    &__mobile {

        margin-left: auto;
        font-size: 15px;

        @media screen and (min-width: $w992) {
            display: none;
        }

        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px 24px 8px 16px;
            height: 36px;
            background-color: $gray-96;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        & span {
            padding-left: 10px;
            color: #000;
        }

        &:hover {

            & span,
            & svg {
                fill: $accent-2-1;
                color: $accent-2-1;
            }
        }
    }

    &__sort {
        position: relative;
        width: 100%;
        max-width: 60%;

        @media screen and (min-width: $w992) {
            max-width: 100%;
        }
    }
}


.catalog-products {

    display: flex;
    flex-wrap: wrap;
    margin: -6px;

    @media screen and (min-width: $w992) {
        margin: -12px;
    }



    &__item {



        @media screen and (min-width: $w992) {
            padding: 12px;
        }

        @media screen and (min-width: $w1200) {
            width: 33.33%;
        }

        @media screen and (min-width: $w576) {
            width: 50%;
        }

    }


}


.catalog-pagination {
    &__more {

        padding-top: 30px;

        @media screen and (min-width: $w992) {
            padding-top: 60px;
        }

        & button {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 8px;
            background-color: var(--color-bg-2);
            color: var(--color-accent-1);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s ease;

            @media screen and (min-width: $w760) {
                height: 52px;
                font-size: 16px;
            }

            & svg {
                fill: $gray-56;
                margin-right: 10px;
            }

            &:hover {
                color: #fff;
                background-color: var(--color-accent-1);

                & svg {
                    fill: $accent-2-1;
                    margin-right: 10px;
                }
            }
        }


    }

    &__page {
        padding-top: 0;
    }
}


.icon-cross.clear-color-filter {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    background-color: transparent;
    opacity: 0.3;
    display: none;
    margin-top: 2px;

    &:hover {
        opacity: 1;
    }
}