mixin news-details
    section.section-news-details
        .container
            .news-details
                
                .news-details__article
                    .news-details__poster
                        +picture('/img/other/news-block/poster')
                    atricle.formated-text

                        h2 О компании «Фармлэнд»

                        p СП ООО «ФАРМЛЭНД» — белорусско-голландская фармацевтическая производственная компания создана в 1998 г. В настоящее время «ФАРМЛЭНД» является одним из лидеров белорусского фармацевтического рынка по объему производства и продаж лекарственных препаратов, растворов и изделий медицинского назначения.
                        p СП ООО «ФАРМЛЭНД» проводит полный цикл создания лекарственных препаратов: от поиска молекулы до массового производства и маркетинга. Деятельность компании «Фармлэнд» сосредоточена на производстве препаратов для лечения кардиологических, неврологических, инфекционных заболеваний, а также проводит исследовательские разработки в области терапии онкологических, иммунокомпетентных и других социально значимых заболеваний.

                        p: strong Преимущества оборудования из каталога:
                        
                        ul
                            li цех по производству твердых лекарственных форм (таблетки, капсулы, порошки);
                            li цех по производству нестерильных жидких лекарственных форм;
                            li цех по производству стерильных жидких лекарственных форм и лиофилизатов;
                            li цех по производству препаратов на основе плазмы крови человека;
                            li цех по производству бета-лактамных антибиотиков (таблетки, капсулы и стерильные порошки).

                        h2 Что произвели и поставили

                        p: strong Компания Max Clean Room подписала контракт на очередную поставку оборудования для чистых помещений для фармацевтической компании:

                        ol
                            li чистые помещения класса А;
                            li панельная отделка помещений;
                            li специальные помещения для фармацевтических производств по изготовлению и фасовке различных лекарственных препаратов.

                        h3 Технические характеристики поставленной продукции

                        .table-responsive: table
                            tr
                                th Пример таблицы в статье
                                th Столбец 1
                                th Столбец 2

                            tr 
                                td Характеристика 1
                                td Вариант 1
                                td Вариант 2
                            tr 
                                td Характеристика 2
                                td Вариант 1
                                td Вариант 2
                            tr 
                                td Характеристика 3
                                td Вариант 1
                                td Вариант 2
                            tr 
                                td Характеристика 4
                                td Вариант 1
                                td Вариант 2

                        h2 Дополнительный блок с текстом

                        p В настоящее время «ФАРМЛЭНД» реализует масштабный инвестиционный проект по созданию новых производственных мощностей по выпуску готовых лекарственных препаратов для общего фармацевтического рынка ЕАЭС (Россия, Казахстан, Беларусь, Армения, Киргизия).

                        blockquote
                            h4  Выделение важной информации
                            p Предприятие имеет 130 национальных регистрационных удостоверений и 20 зарубежных регистрационных удостоверений.
                            p Численность сотрудников предприятия составляет 470 человек.


                .news-details__aside
                    .form-small
                        .form-small__title Есть вопросы?
                        .form-small__desc Пишите — мы свяжемся с Вами в кратчайшие сроки и подробно проконсультируем!
                        .form-small__fields
                            form(action='#' method='POST')
                                .form
                                  .form__item: .form__subitem: input(type="text" placeholder="Ваше имя" required)
                                  .form__item: .form__subitem: input(type="tel" placeholder="Контактный телефон" data-maska="+7(###)##-##-##" required)
                                  .form__item: .form__subitem
                                    button.btn(type="submit") Отправить заявку
                                  .form__note
                                        +checkbox('Нажимая на кнопку «Отправить заявку», я соглашаюсь на обработку персональных данных', 'policy', 'checked')
                        