.section-login {
    background-color: var(--color-bg-2);
    min-height: calc((var(--vh, 1vh) * 100));
    display: flex;

    & .container {
        display: flex;
        flex-direction: column;
    }
}

.login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: auto;

    &__logo {

        display: flex;
        justify-content: center;
        margin-bottom: 5vh;

        & a {
            display: inline-block;
        }

        & .bgimage {
            width: 200px;
            height: 120px;

            @include bgimage-contain;

            @media screen and (min-width: $w576) {
                width: 270px;
            }
        }
    }

    &__window {
        max-width: 425px;
        background-color: #fff;
        padding: 20px 20px;
        border-radius: 12px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $w480) {
            padding: 32px 32px;
        }
    }

    &__title {
        @include font-h4;
        color: var(--color-text-1);
        padding-bottom: 8px;
    }

    &__desc {
        color: var(--color-text-2);
        padding-bottom: 24px;
        font-size: 15px;
    }

    & .btn {
        height: 50px;
        width: 100%;
        font-size: 16px;
    }

    &__form {
        & a {
            display: block;
            width: 100%;
        }
    }




}