mixin clients-block
    section.section-clients-block
        .container
            .clients-block
                .clients-block__top
                    .clients-block__left
                        .clients-block__title Наши клиенты
                        .clients-block__link
                            a(href="#")
                                span Все объекты
                                +icons('#ic_to-catalog', 38)
                    .clients-block__right
                        p За 16 лет работы мы не получили ни одного негативного отзыва. Напротив, наши клиенты с гордостью приглашают всех желающих на экскурсии по построенным нами заводам. Мы всегда готовы к новым вызовам и будем рады работать и над Вашим проектом. 

        .clients-marquee
            .clients-marquee__list(data-marquee="container")
                ul
                    li: +bgimage('/img/clients/logo--1.jpg')
                    li: +bgimage('/img/clients/logo--2.jpg')
                    li: +bgimage('/img/clients/logo--3.jpg')
                    li: +bgimage('/img/clients/logo-.jpg')
                    li: +bgimage('/img/clients/logo-mailru.jpg')
                    li: +bgimage('/img/clients/logo-mercedes.jpg')
                    li: +bgimage('/img/clients/logo-rafarma.jpg')
                    li: +bgimage('/img/clients/logo-rosatom.jpg')
                    li: +bgimage('/img/clients/logo-roskosmos.jpg')
                    li: +bgimage('/img/clients/logo-samsung.jpg')