mixin cooperation
    section.section-cooperation
        .container
            .cooperation
                .cooperation__text
                    strong Группа компания MAX Clean Room приглашает к сотрудничеству местые компании на рынках СНГ, Азии и Европы, для реализации совместных проектов в области проектирования и строительства чистых помещений для любых сфер промышленности.
                .cooperation__logo
                    +picture('/img/common/logo-big-colors')
                .cooperation__sep
                    img(src="/img/common/sep.svg")
                .cooperation__col2
                    .cooperation__col: strong 1. Для компаний-партнеров мы предлагаем выгодные условия <br> долговременного сотрудничества.
                    .cooperation__col 2. Также рассматриваем предложения от компаний, выполняющих работы в области монтажа и коммуникаций для сотрудничества по договору подряда.
                .cooperation__sep
                    img(src="/img/common/sep-bottom.svg")
                .cooperation__text.cooperation__text--bottom
                    strong Присылайте свои предложения на e-mail:
                    h4: a(href='mailto:info@maxcr.ru') info@maxcr.ru