extends ../../layouts/login

block variables
  include ../../../data/data.pug
  - const title = "Личный кабинет - Max Clean Room"

block main
   
  include ../../../blocks/modules/personal/login/login.pug

  +login 