extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/catalog/catalog.pug
include ../../blocks/modules/catalog-category/catalog-category
include ../../blocks/modules/contacts-block/contacts-block
include ../../blocks/modules/clients-block/clients-block.pug
include ../../blocks/modules/about-company/about-company.pug
include ../../blocks/modules/advantages-block/advantages-block.pug


block variables
  include ../../data/data.pug
  - const title = "Max Clean Room - О нас"
 

block main
   
  section.section-page
    .container
      .page
        .page__breadcrumbs
          +breadcrumb([
            'Главная',
            'О нас',
          ])
        .page__title: h1 О нас

  +about-company
  +advantages-block
  +clients-block
  +contacts-block
 

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 