extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/compare/compare.pug
include ../../blocks/modules/compare/compare-headphone.pug
include ../../blocks/modules/compare/compare-laptop.pug

include ../../blocks/modules/contacts-block/contacts-block


block variables
  include ../../data/data.pug
  - const title = "Max Clean Room"
 

block main

  include ../../blocks/modules/about-block/about-block
   
  section.section-page
    .container
      .page
        .page__breadcrumbs
          +breadcrumb([
            'Главная',
            'Сравнение продукции'
          ])
        .page__title
          h1 Сравнение продукции
          a(href='#'): button.btn Помочь с подбором 

  section.section-compare-page
    .container
      .compare-page
        .compare-page__top
          .compare-page__tabs
            ul(data-tab-nav="compare") 
              li.active: a(href='#1') Боксы биологической безопасности
              li: a(href='#2') Ламинарные шкафы
              li: a(href='#3') Передаточные окна
          .compare-page__clear
            .compare-clear-btn
              +icons('#ic_trash', 24)
              span Очистить список сравнения

        .compare-page__content(data-container="compare")
          .compare-page__item.active(data-tab="1"): +compare()
          .compare-page__item(data-tab="2"): +compare-cabinets()
          .compare-page__item(data-tab="3"): +compare-windows()

   
  +about-block
  +contacts-block 

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  script(src="/js/compare.js") 