extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/catalog/catalog.pug
include ../../blocks/modules/catalog-category/catalog-category
include ../../blocks/modules/contacts-block/contacts-block
include ../../blocks/modules/clients-block/clients-block.pug
include ../../blocks/modules/form-callback/form-callback.pug
include ../../blocks/modules/cooperation/cooperation.pug


block variables
  include ../../data/data.pug
  - const title = "Max Clean Room - Сотрудничество"
 

block main
   
  section.section-page
    .container
      .page
        .page__breadcrumbs
          +breadcrumb([
            'Главная',
            'О компании',
            'Сотрудничество',
          ])
        .page__title: h1 Сотрудничество

  +cooperation

  +form-callback--cooperation

  section.section-formated-text
    .container
      .formated-text
        h2 Дополнительный блок о сотрудничестве
        p: strong Чистые помещения — это специально созданные и оборудованные помещения, которые предназначены для минимизации или исключения наличия частиц, микроорганизмов и других загрязнений в воздухе. Они используются в различных отраслях, где требуется высокий уровень чистоты, таких как фармацевтическая промышленность, электроника, пищевая промышленность и медицина.
        p Современные тенденции всех направлений производства двигаются по пути минимизации «человеческого фактора» как в процессе производства, так и в воздействии на конечный продукт.

        img(src="/img/common/img-slider-01.jpg")

        p
          strong Преимущества оборудования из каталога:

        ul
          li цех по производству твердых лекарственных форм (таблетки, капсулы, порошки);
          li цех по производству нестерильных жидких лекарственных форм;
          li цех по производству стерильных жидких лекарственных форм и лиофилизатов;
          li цех по производству препаратов на основе плазмы крови человека;
          li цех по производству бета-лактамных антибиотиков (таблетки, капсулы и стерильные порошки).

        p СП ООО «ФАРМЛЭНД» — белорусско-голландская фармацевтическая производственная компания создана в 1998 г. В настоящее время «ФАРМЛЭНД» является одним из лидеров белорусского фармацевтического рынка по объему производства и продаж лекарственных препаратов, растворов и изделий медицинского назначения.
        p СП ООО «ФАРМЛЭНД» проводит полный цикл создания лекарственных препаратов: от поиска молекулы до массового производства и маркетинга. Деятельность компании «Фармлэнд» сосредоточена на производстве препаратов для лечения кардиологических, неврологических, инфекционных заболеваний, а также проводит исследовательские разработки в области терапии онкологических, иммунокомпетентных и других социально значимых заболеваний.

        p
          strong Компания Max Clean Room подписала контракт на очередную поставку оборудования для чистых помещений для фармацевтической компании:
       
        ol
          li чистые помещения класса А;
          li панельная отделка помещений;
          li специальные помещения для фармацевтических производств по изготовлению и фасовке различных лекарственных препаратов.

        h3 Где используются и для чего служат

        p: strong Кроме защиты конечного продукта, чистые помещения MAX Clean Room также используются в случае необходимости защиты человека, как от опасных производственных факторов, так и в медицине при выполнения различного рода операций. Например:

        ul
          li работа с патогенными микроорганизмами;
          li выполнение покрасочных работ;
          li медицинские операции, связанные с хирургическим вмешательством и требующие стерильных условий для их проведения.

        p Одной из основных целей чистых помещений является защита продукции от контаминации. В фармацевтической промышленности, например, чистые помещения используются для производства лекарственных препаратов, где даже небольшое количество загрязнений может повлиять на качество и безопасность продукции. В электронике, чистые помещения необходимы для производства микрочипов и других электронных компонентов, где даже мельчайшие частицы могут вызвать сбои и повреждения.
        p Чистые помещения также играют важную роль в медицине, особенно в операционных блоках и палатах интенсивной терапии. Они обеспечивают безопасную и стерильную среду для проведения хирургических операций и ухода за пациентами с ослабленным иммунитетом.

  +clients-block 
 

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 