extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/catalog/catalog.pug
include ../../blocks/modules/catalog-category/catalog-category
include ../../blocks/modules/contacts-block/contacts-block
include ../../blocks/modules/clients-block/clients-block.pug


block variables
  include ../../data/data.pug
  - const title = "Max Clean Room - Лицензии и сертификаты"
 

block main
   
  section.section-page
    .container
      .page
        .page__breadcrumbs
          +breadcrumb([
            'Главная',
            'О компании',
            'Лицензии и сертификаты',
          ])
        .page__title: h1 Лицензии и сертификаты
        .page__text Перечень документов, предоставляемых по запросу

  section.section-table-page
    .container
      .table-page
        .table
          .table__tr
            .table__th №
            .table__th Наименование продукции
            .table__th  ГОСТ / Полное название документа
          .table__tr
            .table__td(data-title="№") 1
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ТР ТС 004/2011 "О безопасности низковольтного оборудования"
          .table__tr
            .table__td(data-title="№") 2
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ТР ТС 010/2011 "О безопасности машин и оборудования"
          .table__tr
            .table__td(data-title="№") 3
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ТР ТС 020/2011 "Электромагнитная совместимость технических средств"
          .table__tr
            .table__td(data-title="№") 4
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 12.2.003-91 "Система стандартов безопасности труда. Оборудование производственное. Общие требования безопасности"
          .table__tr
            .table__td(data-title="№") 5
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 12.1.003-83 "Система стандартов безопасности труда. Шум. Общие требования безопасности"
          .table__tr
            .table__td(data-title="№") 6
            .table__td(data-title="Наименование продукции") Передаточные окна / Воздушные души / Локальные чистые зоны
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 12.1.012-2004 "Система стандартов безопасности труда. Вибрационная безопасность. Общие требования"
          .table__tr
            .table__td(data-title="№") 7
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 12.2.007.0-75 "Система стандартов безопасности труда. Изделия электротехнические. Общие требования безопасности"
          .table__tr
            .table__td(data-title="№") 8
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 30804.6.1-2013 "Совместимость технических средств электромагнитная. Устойчивость к электромагнитным помехам технических средств, применяемых в жилых, коммерческих зонах и производственных зонах с малым энергопотреблением. Требования и методы испытаний"
          .table__tr
            .table__td(data-title="№") 9
            .table__td(data-title="Наименование продукции") —
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ 30804.6.3-2013 "Совместимость технических средств электромагнитная. Электромагнитные помехи от технических средств, применяемых в жилых, коммерческих зонах и производственных зонах с малым энергопотреблением. Нормы и методы испытаний"
          .table__tr
            .table__td(data-title="№") 10
            .table__td(data-title="Наименование продукции") Материалы для чистых помещений
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют требованиям ГОСТ Р ИСО 14644-4-2002 "Чистые помещения и связанные с ними контролируемые среды"
          .table__tr
            .table__td(data-title="№") 11
            .table__td(data-title="Наименование продукции") Материалы для чистых помещений
            .table__td(data-title="ГОСТ / Полное название документа") Соответствуют единым санитарно-эпидемиологическим и гигиеническим требованиям к продукции (товарам), подлежащим санитарно-эпидемиологическому надзору (контролю), утв. Решением Комиссии Таможенного союза №299 от 28.05.2010г. Гл. II, Раздел 6. "Требования к полимерным и полимерсодержащим строительным материалам и мебели", п. 6.13

  +clients-block 
  +contacts-block
 

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 