extends ../layouts/main

include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/clients-block/clients-block
include ../../blocks/modules/slider-products/slider-products.pug
include ../../blocks/modules/single-product/single-product.pug


block variables
  include ../../data/data.pug
  - const title = "Max Clean Room"
 

block main
   
  section.section-page
    .container
      .page.page--single
        .page__breadcrumbs
          +breadcrumb([
            'Главная',
            'Каталог',
            'Стерилизация',
            'Стерилизаторы инструментов',
            'Боксы биологической безопасности Класса II, Типа A2, Двухсторонней серии',
          ])
          
        .page__title: h1 Боксы биологической безопасности Класса II, Типа A2, Двухсторонней серии

  +single-product
  +slider-products-2
  +clients-block-2


 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 