include ../../components/pagination/pagination.pug

mixin card-news(data)
    .card-news
        .card-news__image: a(href='/news-details.html'): +picture(data.image)
        .card-news__date: span 01.07.2024
        .card-news__title: a(href='/news-details.html')= data.title
        .card-news__desc
            span= data.desc
        .card-news__details
            a(href='/news-details.html'): button.btn.btn-small.btn-light Подробнее

mixin news-list

 

    section.section-news-list
        .container
            .news-list
                each item in [...newsList, ...newsList]
                    .news-list__item: +card-news(item)
            .news-pagination
                +pagination-showmore