include ../../components/pagination/pagination.pug

mixin card-news(data)
    .card-news
        .card-news__image: a(href='/news-details.html'): +picture(data.image)
        .card-news__date: span 01.07.2024
        .card-news__title: a(href='/news-details.html')= data.title
        .card-news__desc
            span= data.desc
        .card-news__details
            a(href='/news-details.html'): button.btn.btn-small.btn-light Подробнее

mixin news-list

    -
        const newsList = [
            {
                image: '/img/other/news-block/img',
                title: 'Поставка для ООО «Новотекс+»',
                desc: 'Компания Max Clean Room подписала контракт на поставку оборудования для чистых помещений для детской бол...',
            },
            {
                image: '/img/other/news-block/img-1',
                title: 'Поставка для ФГУП НПЦ «Фармзащита»',
                desc: 'ФГУП НПЦ «Фармзащита» ФМБА России является головной организацией в системе ФМБА России по разработке и...',
            },
            {
                image: '/img/other/news-block/img-2',
                title: 'Новая поставка для «Фармлэнд»',
                desc: 'СП ООО «Фармлэнд» — это результат плодотворного сотрудничества между Беларусью и Нидерландами в области фарма...',
            },
            {
                image: '/img/other/news-block/img-3',
                title: 'Поставка для ООО «ЕДС ЛАБ»',
                desc: 'ООО «ЕДС ЛАБ» — это производственная Тюменская компания, занимающаяся производством медицинских...',
            },
            {
                image: '/img/other/news-block/img-4',
                title: 'Поставка для ООО «МК Протон»',
                desc: 'Компания Max Clean Room подписала контракт на поставку оборудования для чистых помещений для детской бол...',
            },
            {
                image: '/img/other/news-block/img-5',
                title: 'Поставка для ООО «Инновационное образование»',
                desc: 'Компания Max Clean Room подписала контракт на поставку оборудования для чистых помещений для детской бол...',
            },
            {
                image: '/img/other/news-block/img-6',
                title: 'Поставка для ТОО «ЕвроКристалл»',
                desc: 'Компания Max Clean Room подписала контракт на поставку оборудования для чистых помещений для детской бол...',
            },
            {
                image: '/img/other/news-block/img-7',
                title: 'Поставка для ООО «Лаборатории Весслинг»',
                desc: 'Компания Max Clean Room подписала контракт на поставку оборудования для чистых помещений для детской бол...',
            },
            
        ]

    section.section-news-list
        .container
            .news-list
                each item in [...newsList, ...newsList]
                    .news-list__item: +card-news(item)
            .news-pagination
                +pagination-showmore