extends layouts/main

block variables
  include ../data/data.pug
  - const title = "Max Clean Room"
 

block main
   
  include ../blocks/modules/first-block/first-block
  include ../blocks/modules/about-block/about-block
  include ../blocks/modules/top-category/top-category
  include ../blocks/modules/products-slider/products-slider
  include ../blocks/modules/advantages-block/advantages-block
  include ../blocks/modules/clients-block/clients-block
  include ../blocks/modules/contacts-block/contacts-block

  +first-block
  +about-block
  +top-category
  +products-slider
  +advantages-block
  +clients-block
  +contacts-block

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 