@mixin minicard--price {
    font-weight: 800;
    font-size: 16px;
    color: #222222;
    padding-bottom: 4px;
    font-family: 'lato', 'Trebuchet MS';

    @media screen and (min-width: $w1200) {
        font-size: 18px;
    }


    @media screen and (min-width: $w1440) {
        font-size: 20px;
    }
}

$gray-13: #ccc;
$accent-2-2: var(--color-accent-2);

.section-compare-page {
    padding: 16px 0;

    @media screen and (min-width: $w576) {
        padding: 32px 0;
    }
}

@mixin scrollbar-compare {
    @-moz-document url-prefix() {
        scrollbar-color: var(--color-accent-2) var(--color-bg-3);
        scrollbar-width: thin !important;
    }

    @media screen and (min-width: $w992) {
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 4px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color-bg-2);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-accent-2);
            border-radius: 4px;
        }
    }
}


.compare-box {

    &:hover {
        & .compare-table-top__nav {
            opacity: 1;
        }
    }

}

.compare-page {

    &__top {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: $w760) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__clear {
        margin-left: auto;
        margin-bottom: 12px;

        @media screen and (min-width: $w760) {
            margin-bottom: 0;
        }
    }

    &__tabs {

        & ul {
            display: flex;
            opacity: auto;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 10px;


            scrollbar-color: transparent transparent;
            scrollbar-width: thin !important;


            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 4px;
            }

            @media screen and (min-width: $w992) {

                padding-bottom: 0;
                margin-bottom: 33px;
            }


            & li {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 15px;
                    background-color: transparent;
                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 15px;
                    height: 40px;
                    transition: 0.3s ease;

                    @media screen and (min-width: $w992) {

                        padding: 8px 15px 8px 15px;
                    }
                }

                &:hover {


                    & a {
                        background-color: var(--color-bg-3);
                        color: var(--color-accent-2);
                    }
                }

                &.active {
                    & a {
                        background-color: var(--color-bg-6);
                        color: #fff;
                    }
                }
            }

        }

        &.fixed-tabs {
            position: fixed;
            background-color: #fff;
            z-index: 100;
            left: 0;
            top: 0;
            right: 0;
            filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.12));
            padding: 12px 0px 12px 0px;
            animation: slite-nav-fixed 0.3s ease forwards;

            @media screen and (min-width: $w480) {
                padding: 12px 15px;
            }

            & ul {
                margin: 0 auto;

                border: none;

                @include container-breakpoint;



                & li {
                    & a {
                        border-radius: 6px;
                    }
                }
            }
        }
    }


    &__content {
        & [data-tab] {
            display: none;
            transition: 0.3s ease;

            &.active,
            &.is-active {
                display: block;
                animation: fade-in 0.3s ease forwards;
            }
        }
    }
}

.compare-clear-btn {
    display: flex;
    align-items: center;
    cursor: pointer;


    padding: 8px 12px;
    height: 40px;
    border-radius: 6px;


    & * {
        transition: 0.3s ease;
    }

    & span {
        margin-left: 10px;
        font-size: 15px;
        color: var(--color-text-2);
        display: none;

        @media screen and (min-width: $w576) {
            display: block;
        }
    }

    & svg {
        fill: var(--color-text-2);
    }

    &:hover {
        background-color: #FFF5F5;

        & span {
            color: var(--color-red-1);
        }

        & svg {
            fill: var(--color-red-1);
        }
    }
}

.compare-table {

    width: 100%;
    position: relative;


    &__wrp {
        overflow-x: auto;
        width: 100%;

        @include scrollbar-compare();
    }

    & td {
        min-width: 176px;
        width: 176px;
        font-weight: normal;
        font-size: 14px;
        padding: 18px 12px;
        border-color: #ebebeb;
        vertical-align: top;

        @media screen and (min-width: $w480) {
            min-width: 336px;
            width: 336px;
        }


    }

    & table {
        //width: 100%;
        //table-layout: fixed;
        overflow-wrap: break-word;

        width: 100%;
        background-color: #fff;
        border-collapse: collapse;
        empty-cells: show;
        font-size: 15px;
        table-layout: fixed;
        margin: 0;
        min-width: 230px;
        //overflow: hidden;
        margin-bottom: 10px;
    }
}

.product-table {

    &__scroll {
        & td {
            border: none;
            padding: 0;
        }
    }

    &__group {

        position: relative;

        display: block;
        width: 100vw;

        @media screen and (min-width: $w576) {
            padding: 10px 0;
        }


        & td {
            height: 50px;
            padding: 12px 0;
            box-sizing: content-box;
            border: none;

            @media screen and (min-width: $w576) {
                padding: 20px 0;
            }

            & .table-group {
                &__head {
                    position: absolute;
                    height: 50px;
                    left: 0;
                    top: 20px;
                    right: 0;
                    bottom: 0;

                    padding: 15px 12px;
                    display: flex;
                    align-items: center;

                    border-radius: 6px;

                    color: #222;
                    transition: 0.3s ease;

                    & span {
                        position: sticky;
                        left: 12px;
                        font-weight: bold;
                        display: flex;
                        cursor: pointer;
                        font-size: 21px;
                        font-weight: 800;
                        font-family: 'geometria';

                        @media screen and (min-width: $w576) {
                            font-size: 24px;
                        }


                        &::after {
                            content: '';
                            min-width: 24px;
                            width: 24px;
                            height: 24px;
                            background-color: transparent;
                            border-radius: 50%;
                            display: inline-block;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAyM2MtLjM3NyAwLS43MzgtLjE0NC0xLjAwNS0uNGwtNy41NzktNy4yNzJhMS4zMjUgMS4zMjUgMCAwMTAtMS45MjkgMS40NjQgMS40NjQgMCAwMTIuMDEgMEwxOCAxOS43MDhsNi41NzQtNi4zMDlhMS40NjQgMS40NjQgMCAwMTIuMDEgMCAxLjMyNSAxLjMyNSAwIDAxMCAxLjkyOWwtNy41OCA3LjI3M0ExLjQ1MiAxLjQ1MiAwIDAxMTggMjN6IiBmaWxsPSIjMDRDIi8+PC9zdmc+);
                            background-position: center;
                            background-repeat: no-repeat;
                            filter: grayscale(1);
                            margin-left: auto;
                            transition: transform 0.3s ease;
                            transition: 0.3s ease;
                            top: 0;
                            position: relative;
                            margin-right: 12px;
                            background-size: contain;

                            @media screen and (min-width: $w576) {
                                top: 3px;
                                width: 24px;
                            }
                        }
                    }

                    &:hover {
                        color: var(--color-accent-2);

                        & span::after {
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }

    }

    &__prop {
        border-bottom: 1px solid var(--color-borders-1);

        &:hover {
            background-color: var(--color-bg-3);

            & td {
                color: var(--color-accent-2);
            }
        }

        & tr {



            & td {
                padding-top: 35px;
                font-size: 15px;
                cursor: grab;
                font-weight: 500;
            }

            &:first-child {
                & td {
                    border: none;
                    padding-top: 10px;
                    padding-bottom: 0;
                    font-weight: 400;
                    color: #999;
                    position: absolute;
                    left: 0;
                    white-space: nowrap;
                    font-size: 13px;
                }
            }


        }

        & .tooltip-box-item * {
            font-style: normal;
            white-space: normal;
            color: #222;
        }

        & i svg {
            fill: #8F8F8F;
        }

        & i {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-top: -4px;
        }
    }
}

.compare-product {

    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 336px;

    &__top {
        display: flex;
    }

    &__image {
        width: calc(100% - 40px);

        & picture {
            @include picture(100%, contain);
        }
    }

    &__action {
        width: 40px;
        min-width: 40px;
    }




    &__action {


        @media screen and (min-width: $w1200) {

            transition: 0.2s ease;


        }



        & a[data-tooltip]::before {
            min-width: auto;
            white-space: nowrap;
            display: none;
            right: 5px;
            left: auto;
            transform: none;
            top: 100%;

            @media screen and (min-width: $w760) {
                display: block;
            }
        }

        & a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;

            &::after {
                content: '';
                background-color: $accent-1-1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: scale(0.001, 0.001);
                visibility: hidden;
            }


            & svg {
                fill: #c3c3c3;
                stroke: transparent;
                stroke-width: 2.1px;
                transition: 0.4s ease;
                width: 14px;
                height: 14px;
            }

            & .ausvg-stroke {
                opacity: 0
            }

            &.active {
                & svg {
                    fill: $accent-1-1;
                    stroke: $accent-1-1;
                }

                &::after {
                    animation: effect_dylan 0.8s 0.08s ease-out;
                    visibility: visible;
                }
            }

            &:hover {

                background-color: #f5f5f5;
                border-radius: 4px;

                & svg {
                    fill: var(--color-red-1);
                }

            }
        }

    }

    &__offers {

        & .btn {
            padding-left: 1em;
            padding-right: 1em;
        }

        & a,
        & span {
            color: $gray-56;
            font-size: 13px;

            &:hover {
                color: $accent-2-1;
            }
        }
    }

    &__title {
        padding-bottom: 20px;

        & a {
            font-size: 15px;
            font-weight: 400;
            line-height: 140%;

            @include line-clamp(2);

            @media screen and (min-width: $w480) {
                font-weight: 600;
            }

            &:hover {
                color: var(--color-accent-2)
            }
        }
    }

    &:hover {

        & .compare-product {
            &__action {
                opacity: 1;
            }
        }

        opacity: 1;
    }
}



.product-table__group.is-hide-group .table-group__head span::after {
    transform: rotate(-90deg)
}

.compare-product__action a[data-tooltip] {
    background-color: transparent
}

.compare-filter {
    display: flex;
    flex-wrap: wrap;


    @media screen and (min-width: $w992) {
        padding-top: 0;
    }

    &__title {
        color: $gray-56;
        width: 100%;

        @media screen and (min-width: $w760) {
            width: auto;
        }
    }

    &__link {

        margin: 0 -5px;
        padding-top: 10px;

        @media screen and (min-width: $w760) {
            padding-left: 10px;
            padding-top: 0;
            margin: 0;
        }

        & ul {
            display: flex;

            & li {
                color: $gray-13;
                padding: 0 5px;
                cursor: pointer;

                &:hover {
                    color: var(--color-accent-2);
                }

                &.is-active {
                    color: var(--color-accent-2);
                }

            }

        }
    }

    & .text--mobile {
        @media screen and (min-width: $w760) {
            display: none;
        }
    }

    & .text--desktop {

        display: none;

        @media screen and (min-width: $w760) {
            display: inline;
        }
    }
}



.compare-table-top {
    display: flex;
    justify-content: space-between;

    padding-top: 0;


    &__sort {
        display: none;
    }
}

.compare-table-top__nav {
    display: none;
    user-select: none;
    opacity: 0;
    transition: 0.3s ease;
    margin-left: auto;

    @media screen and (min-width: $w480) {
        display: flex;
    }

    &-next,
    &-prev {

        margin: 0 5px;

        & svg {
            fill: #222;

            &:hover {
                fill: var(--color-accent-2);
            }
        }

    }


}

.table-prop-head {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-text-2);

    & span {
        display: inline-block;
        height: 20px;
    }
}

.table-scroller {

    //margin-left: -12px;
    height: 25px;

    &__wrp {
        height: 10px;
        margin: 10px 0;
        overflow-x: auto;
        position: absolute;
        overflow-y: hidden;

        @include scrollbar-compare()
    }

    &__content {
        height: 10px;
    }
}

.product-table__prop.hide-tbody {
    height: 0;
    display: none;
}



div[data-state="0"] {
    opacity: 0.3;
    pointer-events: none;
}

div[data-state="1"] {
    opacity: 1;
    cursor: pointer;
}

.product-table__prop.hide-prop-tbody {
    display: none;
}

.fixed-thead {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    overflow-x: auto;
    width: 1320px;
    opacity: 0.5;
    visibility: hidden;
    transition: 0.15s ease;

    @include scrollbar-compare();

    & .compare-product {

        opacity: 0;
        transition: 0.3s ease;

        &__image {
            max-width: 120px;

            & img {
                width: 120px;
            }
        }
    }
}

.fixed-thead.is-visible {
    opacity: 1;
    visibility: visible;

    & .compare-product {
        opacity: 1;
    }
}

.fixed-thead .product-table__tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
}