.objects {
    &__map {
        height: 71vh;
        background-color: var(--color-bg-2);
        position: relative;

        & #map-root {
            @include layer(1);
        }
    }

    &__content {
        padding: 30px 0;

        @media screen and (min-width: $w992) {
            padding-top: 65px;
        }
    }

    &__title {
        @include font-h4;

        @media screen and (min-width: $w992) {
            @include font-h2;
        }

        padding-bottom: 0.7em;
    }

    &__filter {
        background-color: var(--color-bg-2);
        margin-bottom: 12px;
        padding: 8px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;




        & ul {
            display: flex;
            align-items: center;
            margin: -4px;
            flex-wrap: nowrap;
            overflow-y: auto;
            scrollbar-width: none;
            position: relative;



            & li {
                padding: 4px;


                & .ic_24 {
                    margin-right: 8px;
                }

                &>span {

                    height: 36px;
                    border-radius: 6px;
                    padding-left: 12px;
                    padding-right: 12px;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    transition: 0.3s ease;
                    font-size: 14px;

                    @media screen and (min-width: $w576) {
                        font-size: 15px;
                        height: 40px;
                    }

                    & svg {
                        margin-right: 12px;
                        fill: var(--color-accent-1);
                    }

                    &:hover {
                        background-color: #fff;
                        color: var(--color-accent-1);
                        cursor: pointer;

                        & svg {
                            fill: var(--color-accent-2);
                        }
                    }

                    &.is-active {
                        background-color: var(--color-bg-6);
                        color: #fff;

                        & svg {
                            fill: #fff;
                        }

                        & .ic_24 {
                            filter: grayscale(1) brightness(300);
                        }
                    }


                }
            }


        }

        &::after {
            content: '';
            width: 24px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            background: linear-gradient(270deg, rgba(240, 250, 252, 1) 47%, rgba(255, 255, 255, 0) 100%);

        }
    }

    &__list {

        padding-top: 12px;

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -6px;

            @media screen and (min-width: $w760) {
                margin: -12px;
            }



            & li {

                width: 50%;
                padding: 6px;
                transition: 0.3s ease;



                @media screen and (min-width: $w760) {
                    padding: 12px;
                }

                @media screen and (min-width: $w1440) {
                    width: 16.6%;
                }

                & .bgimage {
                    padding-top: 70%;
                    @include bgimage-contain;
                    border-radius: 12px;
                    border: 2px solid var(--color-borders-2);
                }
            }
        }
    }


}

.placemark {

    margin-top: -48px;
    margin-left: -16px;

    &__icon {
        cursor: pointer;

        & svg {
            fill: var(--color-accent-1);
            transition: 0.3s ease;
        }

        &:hover {
            & svg {
                fill: var(--color-accent-2);
            }
        }
    }

    &__balloon {
        display: none;
    }

    &.is-open--balloon {
        & .placemark {
            &__balloon {
                display: block;
            }

            &__icon {
                & svg {
                    fill: var(--color-accent-2);
                }
            }
        }
    }
}

.placemark-balloon {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0px #4d73954f;
    width: 320px;
    border: 3px solid var(--color-accent-2);

    @media screen and (min-width: $w1440) {
        width: 440px;
        left: -20px;
    }

    @media screen and (max-width: $w992) {
        transform: translateX(-50%);
    }


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
    }

    &__close {

        color: #666;
        cursor: pointer;

        & .ic_24 {
            width: 24px;
            height: 24px;
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            opacity: 0.35;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__content ul {
        overflow: auto;
    }
}

.af-popup .placemark-balloon {
    position: relative;
    transform: translateX(0);
    width: 100%;
    border: none;
    box-shadow: none;

    padding: 12px;

    &__close {
        display: none;
    }

    &__content {
        & ul {
            height: auto !important;
        }
    }
}

.point-popup {

    padding: 12px 0;
    font-size: 14px;

    &:last-child {
        border-bottom: none;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 3px;
    }

    &__city {
        color: var(--color-text-2);
        padding-bottom: 3px;
    }

    &__desc {
        @include line-clamp(3);
    }
}

@keyframes enter-fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}




.fade-enter,
.fade-enter-active,
.fade-enter-to {
    animation: enter-fade 0.5s ease;
}


.fade-leave,
.fade-leave-active,
.fade-leave-to {
    display: none;
}

#app-filter .is-loading>.objects__list {

    position: relative;
    min-height: 40vh;
}

#app-filter .is-loading>.objects__list>* {
    opacity: 0;
    position: relative;
    min-height: 40vh;
}

#app-filter .is-loading>.objects__list::before {
    content: '';
    opacity: 1;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid var(--color-accent-1);
    border-radius: 50%;
    border-left-color: transparent;
    animation: load 0.5s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}