mixin objects
    section.section-objects
        .objects
            .objects__map
                #map-root
            .objects__content
                .container(id="app-filter")
                    .objects__title Проекты по отраслям, регионам и продукции
                    .objects__filter
                        ul
                            li: span.is-active Все
                            li
                                
                                span
                                    +icons('#ic_pen-contacts')
                                    | По регионам
                            li
                                
                                span
                                    +icons('#ic_routes')
                                    | По отраслям
                            li
                                
                                span
                                    +icons('#ic_hand-gear')
                                    | По продукции

                    .objects__filter
                        ul
                            li: span.is-active Все
                            li: span Россия
                            li: span Беларусь
                            li: span Казахстан
                            li: span Узбекистан

                    .objects__list
                        ul
                            li(v-for="(item, index) in json" :key="index")
                                span.bgimage( :style = '{backgroundImage: `url(${item.logo})`}' )