.objects {
    &__map {
        height: 71vh;
        background-color: var(--color-bg-2);
        position: relative;

        & #map-root {
            @include layer(1);
        }
    }

    &__content {
        padding: 30px 0;

        @media screen and (min-width: $w992) {
            padding-top: 65px;
        }
    }

    &__title {
        @include font-h4;

        @media screen and (min-width: $w992) {
            @include font-h2;
        }

        padding-bottom: 0.7em;
    }

    &__filter {
        background-color: var(--color-bg-2);
        margin-bottom: 12px;
        padding: 8px;
        border-radius: 8px;
        position: relative;




        & ul {
            display: flex;
            align-items: center;
            margin: -4px;
            flex-wrap: nowrap;
            overflow-y: auto;
            scrollbar-width: none;
            position: relative;



            & li {
                padding: 4px;

            }

            & span {

                height: 36px;
                border-radius: 6px;
                padding-left: 12px;
                padding-right: 12px;
                display: flex;
                align-items: center;
                white-space: nowrap;
                transition: 0.3s ease;
                font-size: 14px;

                @media screen and (min-width: $w576) {
                    font-size: 15px;
                    height: 40px;
                }

                & svg {
                    margin-right: 12px;
                    fill: var(--color-accent-1);
                }

                &:hover {
                    background-color: #fff;
                    color: var(--color-accent-2);
                    cursor: pointer;

                    & svg {
                        fill: var(--color-accent-2);
                    }
                }

                &.is-active {
                    background-color: var(--color-bg-6);
                    color: #fff;

                    & svg {
                        fill: #fff;
                    }
                }


            }
        }

        &::after {
            content: '';
            width: 24px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: linear-gradient(270deg, rgba(240, 250, 252, 1) 47%, rgba(255, 255, 255, 0) 100%);

        }
    }

    &__list {

        padding-top: 12px;

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -6px;

            @media screen and (min-width: $w760) {
                margin: -12px;
            }

            & li {

                width: 50%;
                padding: 6px;

                @media screen and (min-width: $w760) {
                    padding: 12px;
                }

                @media screen and (min-width: $w1440) {
                    width: 16.6%;
                }

                & .bgimage {
                    padding-top: 70%;
                    @include bgimage-contain;
                    border-radius: 12px;
                    border: 2px solid var(--color-borders-2);
                }
            }
        }
    }


}

.placemark {
    &__balloon {
        display: none;

        &.is-open {
            display: block;
        }
    }
}

.placemark-balloon {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0px #4d73954f;
    width: 320px;


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    &__title {
        font-weight: 700;
    }

    &__close {
        transform: rotate(45deg);
        font-size: 30px;
        color: #666;
        cursor: pointer;
    }
}

.point-popup {
    border-bottom: 1px solid var(--color-borders-2);
    padding: 12px 0;
    font-size: 14px;

    &:last-child {
        border-bottom: none;
    }

    &__name {
        font-weight: 700;
    }

    &__city {
        color: var(--color-text-2);
    }
}