mixin objects
    section.section-objects
        .objects
            .objects__map
                #map-root
            .objects__content
                .container
                    .objects__title Проекты по отраслям, регионам и продукции
                    .objects__filter
                        ul
                            li: span.is-active Все
                            li
                                
                                span
                                    +icons('#ic_pen-contacts')
                                    | По регионам
                            li
                                
                                span
                                    +icons('#ic_routes')
                                    | По отраслям
                            li
                                
                                span
                                    +icons('#ic_hand-gear')
                                    | По продукции

                    .objects__filter
                        ul
                            li: span.is-active Все
                            li: span Россия
                            li: span Беларусь
                            li: span Казахстан
                            li: span Узбекистан

                    .objects__list
                        ul
                            each item in [1,1,1]
                                li: +bgimage('/img/clients/logo--1.jpg')
                                li: +bgimage('/img/clients/logo--2.jpg')
                                li: +bgimage('/img/clients/logo--3.jpg')
                                li: +bgimage('/img/clients/logo-.jpg')
                                li: +bgimage('/img/clients/logo-mailru.jpg')
                                li: +bgimage('/img/clients/logo-mercedes.jpg')
                                li: +bgimage('/img/clients/logo-rafarma.jpg')
                                li: +bgimage('/img/clients/logo-rosatom.jpg')
                                li: +bgimage('/img/clients/logo-roskosmos.jpg')
                                li: +bgimage('/img/clients/logo-samsung.jpg')