mixin objects
    section.section-objects
        .objects
            .objects__map
                #map-root
            .objects__content(id="app-filter")
                .container(:class="{'is-loading': !isLoading}")
                    .objects__title Проекты по отраслям, регионам и продукции
                    .objects__filter
                        ul
                            li(v-for="(item, index) in uniqFields" :key="item.name" @click="changeType(index)")
                                span(:class="{'is-active': index == defaultConfig.type}")
                                    span.bgimage.ic_24( v-if="item.icon" :style = '{backgroundImage: `url(${item.icon})`}' )
                                    | {{item.name}}
                                    
                           

                    .objects__filter(v-if="defaultConfig.type != 'all'")
                        ul
                            li(v-for="sub in getSubType" :key="sub" @click="changeTypeSub(sub)")
                                span(:class="{'is-active': sub == defaultConfig.sub}") {{sub}}
                           

                    .objects__list
                       transition-group(name="fade" tag="ul" appear)
                            li(v-for="(item, index) in getList" :key="(item.region+'-'+item.industry + index)")
                                span.bgimage( :style = '{backgroundImage: `url(${item.logo})`}' )