mixin card-review(data)
    .card-review
        .card-review__image
            a(href=''+data.image+'.jpg' data-fslightbox="reviews"): +picture(data.image)
            .card-review__zoom
                +icons('#ic_zoom-plus', 24)
        .card-review__title= data.title
        .card-review__desc
            span!= data.desc




mixin reviews
    section.section-reviews
        .container
            .reviews
                .reviews__list
                    each item in review
                        .reviews__item: +card-review(item)