.card-review {
    &__image {
        & picture {
            @include picture(120%, cover);
            border: 10px solid var(--color-accent-1);

            max-width: 60%;
        }
    }

    &__title {
        padding-bottom: 12px;
        @include font-h4;
    }
}

.reviews {
    &__list {
        @media screen and (min-width: $w760) {
            display: flex;
            flex-wrap: wrap;
            margin: -24px;
        }
    }

    &__item {
        @media screen and (min-width: $w760) {
            width: 50%;
            padding: 24px;
        }
    }
}