- 
    const cat = [
        {
            image: '/img/category/img',
            title: 'Воздушные души',
        },
        {
            image: '/img/category/img-1',
            title: 'Ламинарные укрытия',
        },
        {
            image: '/img/category/img-2',
            title: 'Передаточные окна',
        },
        {
            image: '/img/category/img-3',
            title: 'Сэндвич-панели',
        },
        {
            image: '/img/category/img-4',
            title: 'Системы вентиляции',
        },
        {
            image: '/img/category/img-5',
            title: 'Фармацевтическое оборудование',
        },
        {
            image: '/img/category/img-6',
            title: 'Фармацевтическое оборудование',
        },
        {
            image: '/img/category/img-7',
            title: 'Системы вентиляции',
        },
        {
            image: '/img/category/img-8',
            title: 'Сэндвич-панели',
        },
        {
            image: '/img/category/img-9',
            title: 'Передаточные окна',
        },
        {
            image: '/img/category/img-10',
            title: 'Ламинарные укрытия',
        }
    ]

mixin card-image(data)
    .card-image
        .card-image__picture
            a(href='category.html'): +picture(data.image)
        .card-image__title: a(href='category.html')= data.title

mixin top-category
    section.section-top-category
        .container
            .top-category
                .top-category__title Популярные категории 
                .top-category__desc Продукция, которую ищут и заказывают чаще всего
                .top-category__list
                    each item in cat
                        .top-category__item: +card-image(item)
                    .top-category__item
                        .all-category
                            a(href='#')
                                span Все категории
                                +icons('#ic_to-catalog', 38)