.section-top-category {
    padding: 2px 0 50px 0;

    @media screen and (min-width: $w576) {
        padding: 50px 0 50px 0;
    }
}

.top-category {
    &__title {
        @include font-h4;
        padding-bottom: 5px;

        @media screen and (min-width: $w760) {
            @include font-h2;
            padding-bottom: 12px;
        }
    }

    &__desc {
        color: #7688AD;

        padding-bottom: 14px;

        @media screen and (min-width: $w760) {
            padding-bottom: 36px;
        }

        @media screen and (min-width: $w1440) {
            font-size: 18px;
        }
    }

    &__list {
        margin: -6px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 16.6%;
        padding: 6px;
        display: none;

        @media screen and (min-width: $w1376) {
            &:nth-child(-n+11) {
                display: block;
            }
        }


        @media screen and (max-width: $w576) {

            width: 50%;

            &:nth-child(-n+5) {
                display: block;
            }


        }

        @media screen and (max-width: $w992) {

            width: 33.33%;

            &:nth-child(-n+11) {
                display: block;
            }


        }

        @media screen and (max-width: $w1200) {

            width: 25%;

            &:nth-child(-n+11) {
                display: block;
            }


        }

        @media screen and (max-width: $w1376) {
            width: 20%;

            &:nth-child(-n+9) {
                display: block;
            }
        }









        &:last-child {
            display: block;
        }
    }
}

.card-image {
    padding: 16px;
    background-color: var(--color-bg-2);
    border-radius: 12px;
    height: 100%;
    transition: 0.3s ease;


    @media screen and (min-width: $w1440) {
        padding: 24px;
    }

    &__picture {
        padding-bottom: 12px;

        & picture {
            @include picture(112%, contain);

            @media screen and (min-width: $w576) {
                padding-top: 86%;
            }

            & img {
                mix-blend-mode: multiply;
            }
        }
    }

    &__title {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 142%;
        word-break: normal;


        @media screen and (min-width: $w1440) {
            font-size: 16px;
        }

        & a {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            transition: 0.3s ease;
        }
    }

    &:hover {
        background-color: var(--color-bg-3);

        & .card-image {
            &__title {
                color: var(--color-accent-2);

                & a {
                    color: var(--color-accent-2);
                }
            }
        }
    }
}

.all-caregories {
    height: 100%;
    background-color: var(--color-bg-2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;

    & a {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-accent-1);
        font-weight: 600;
        transition: 0.3s ease;

        & svg {
            fill: var(--color-accent-1);
            margin-top: 12px;
            transition: 0.3s ease;
        }


    }

    &:hover {
        background-color: var(--color-accent-2);

        & a {
            color: #fff;

            & svg {
                fill: #fff;
            }
        }
    }

}