mixin advantages-block
    section.section-advantages-block
        .container
            .advantages-block
                .advantages-block__left
                    .advantages-block__title Наши достижения
                    .advantages-block__desc Работая с 2006 года, мы многого достигли и стали одной из ведущий групп компаний и лидером рынка в сфере работы с чистыми поещениями!
                .advantages-block__right
                    .advantages-block__list
                        .advantages-block__item
                            .advantages-block__digit 600+
                            .advantages-block__text реализованных проектов
                        .advantages-block__item
                            .advantages-block__digit 200+
                            .advantages-block__text проектов «под ключ»
                        .advantages-block__item
                            .advantages-block__digit 5000+
                            .advantages-block__text единиц оборудования продано
                        .advantages-block__item
                            .advantages-block__digit 100+
                            .advantages-block__text постоянных клиентов
                        .advantages-block__item
                            .advantages-block__digit 20+
                            .advantages-block__text построенных больниц
                        .advantages-block__item
                            .advantages-block__digit 40+
                            .advantages-block__text построенных лабораторий
