mixin main-menu(data)
  .main-menu(data-menu="container")
    .main-menu__wrp
      .main-menu__links(data-menu="links")
      .main-menu__top(data-menu="top")
      .main-menu__contacts(data-menu="contacts")