footer
    .footer-bottom
        .container
            .footer-bottom__info
                .footer-bottom__company 
                    strong 2006-2024 © Группа компаний MAX Clean Room | ООО «МаксКлинрум» УНП 192689111
                .footer-bottom__copyright Вся информация, цены и технические характеристики, представленные на сайте, имеют справочный характер. Уточняйте наличие, стоимость, актуальные размеры и модификации при общении с инженерами компании.
            