.category-filter(data-filter-container="catalog")
    .category-filter__head
        .category-filter__head-title Фильтры
        .category-filter__head-close: span.icon-cross(data-filter="open" data-elem="catalog")

    .category-filter__wrp
        form(action='#' method='POST')
            .category-filter__props
                    
                .category-filter__item: +prop-checkbox({
                    title: 'Материал корпуса',
                    checkbox: [
                        'Нержавеющая сталь',
                        'Титан',
                    ]
                })
                
                .category-filter__item: +prop-checkbox({
                    title: 'Внутренние габариты',
                    checkbox: [
                        '400х400',
                        '500х500',
                        '600х600',
                        '750х750',
                        'Индивидуальные размеры',
                    ]
                })

                .category-filter__item: +prop-checkbox({
                    title: 'Тип блокировки',
                    checkbox: [
                        'Электрическая',
                        'Механическая',
                    ]
                })

                .category-filter__item: +prop-checkbox({
                    title: 'Тип двери',
                    checkbox: [
                        'Обычная',
                        'Утопленная',
                    ]
                })
                

              


 
            .category-filter__submit
                .category-filter__send(data-filter="submit")
                    button.btn.btn-small
                        span Показать 328 товаров 
                .category-filter__clear(data-filter="clear")
                    +icons('#ic_trash', 24)
                     
            