mixin card-category(data)
    .card-category
        .card-category__image
            a(href='/category.html'): +picture(''+data.image.slice(0, -4)+'')
        .card-category__name
            a(href='/category.html')= data.title
mixin card-category-2(data)
    .card-category
        .card-category__image
            a(href='/category-2.html'): +picture(''+data.image.slice(0, -4)+'')
        .card-category__name
            a(href='/category-2.html')= data.title
 

mixin catalog
    section.section-catalog
        .container
            .catalog
                .catalog__top
                    .catalog__nav
                        ul
                            each item,index in catalog
                                li
                                    +ic_24(item.icon)
                                    a(href='#category_'+index)=item.title
                    .catalog__more(data-ft="more")
                        span Показать все категории
                        +icons('#ic_arrow-down', 12)

                .catalog__list
                    .catalog__categories
                        each item,index in catalog
                            .category-group(id='category_'+index)
                                .category-group__title: a(href="/category.html")= item.title
                                .category-group__sub
                                    each cat in item.sub
                                        .category-group__subitem: +card-category(cat)

mixin catalog-category
    section.section-catalog.section-catalog--category
        .container
            .catalog
                .catalog__list
                    .catalog__categories
                        -
                            let item = catalog[0];
                            
                        .category-group
                            .category-group__sub
                                each cat in item.sub
                                    .category-group__subitem: +card-category-2(cat)
                .catalog__seotext
                    .formated-text
                        h3 Полезная информация
                        p Одноразовые <a href="" >материалы</a> и инструменты идеальны с точки зрения микробиологической чистоты и безопасности, но их применение не всегда возможно. Во многих местах, включая отделения диагностики, хирургии, в процедурных и перевязочных кабинетах используются инструменты из нержавеющей стали. Кроме инструментов, в медицинской, косметической и других сферах необходимо стерилизовать воздух. Поэтому остро стоит вопрос об оснащении кабинетов компактными обеззараживателями. А для этого выгоднее всего купить стерилизатор от производителя.

                        h3 Сферы применения
                        p Основная сфера использования стерилизаторов – это медицина. Больницы и поликлиники – главные потребители такого оборудования. Стерилизацию должны проходить все объекты и предметы, которые контактируют с ранами, кровью, слизистыми оболочками.
                        p Также стерилизаторы необходимы в пансионатах, домах престарелых, детских учреждениях. Некоторые модели могут быть использованы в пищевой промышленности, косметологии, в исследовательских лабораториях.

                        h3 Для чего 
                        p Для обеззараживания инструментов, материалов применяются различные методы: термический (обработка горячим воздухом или паром), плазменный (наиболее востребован для термочувствительных изделий), УФ, газовый и прочие. При обработке происходит полное уничтожение микробов, что позволяет использовать изделия повторно. Для стерилизации воздуха используется плазменная обработка и ультрафиол

                        strong Преимущества оборудования из каталога:

                        ol
                            li Современные приборы для стерилизации обеззараживают объекты в короткий срок. 
                            li Аппараты можно использовать для инструментов, материалов, они универсальны. 
                            li Обработка в стерилизаторах снижает затраты на трудовые ресурсы, поскольку все происходит в автоматическом режиме. 
                            li За счет стерилизации в клинике можно использовать небольшое количество инструментов, многие из которых стоят дорого. 
                            li Подходит для обработки не только металлических и тканых предметов, но и изделий из полимеров, с оптическими или электронными элементами. 
                            li Позволяет удалить из воздуха более 99% таких загрязнений, как пыль, бактерии, вирусы. 
                            li Уменьшает загруженность персонала. 


                        h3 Почему стоит обратиться к нам
                        strong Заказать автоклав в Москве предлагает компания MAX Clean Room. Мы предлагаем выгодное сотрудничество:

                        ul
                            li Располагаем собственным производством, поэтому предлагаем конкурентоспособные цены без накруток.
                            li Аппараты можно использовать для инструментов, материалов, они универсальны.
                            li Обработка в стерилизаторах снижает затраты на трудовые ресурсы, поскольку все происходит в автоматическом режиме.
                            li За счет стерилизации в клинике можно использовать небольшое количество инструментов, многие из которых стоят дорого.
