.section-form-callback {

    padding-top: 0px;
    padding-bottom: 0px;

    @media screen and (min-width: $w992) {
        padding-top: 45px;
        padding-bottom: 30px;

        &--vacancy {
            padding-bottom: 90px;
            padding-top: 0;
        }
    }


}

.form-callback {
    background-color: var(--color-bg-2);
    padding: 32px 16px;
    border-radius: 10px;

    @media screen and (min-width: $w576) {
        padding: 32px;
        border-radius: 20px;
    }

    &__title {
        @include font-h3;
        padding-bottom: 0.3em;
    }

    &__desc {
        font-size: 14px;
        padding-bottom: 1em;
        line-height: 140%;
        color: var(--color-text-2);

        @media screen and (min-width: $w576) {
            font-size: 16px;
        }
    }

    &__fields {

        & .btn {
            width: 100%;
            font-size: 16px;
        }

        & .form__subitem--button {
            @media screen and (min-width: $w760) {
                max-width: 180px;
            }
        }

        & .form {

            &__item {
                @media screen and (min-width: $w760) and (max-width: $w992) {
                    flex-wrap: wrap;
                }
            }

            &__note {
                & .checkbox {
                    margin-top: 5px;

                    @media screen and (max-width: $w576) {
                        font-size: 13px;
                    }
                }
            }

            &__subitem {
                @media screen and (min-width: $w760) and (max-width: $w992) {
                    width: 50%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }

    }
}

.form-attach {

    display: flex;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;

    &__btn {
        & input {
            display: none;
        }

        & label {
            display: flex;
            align-items: center;
            cursor: pointer;

            & svg {
                margin-right: 10px;
                fill: var(--color-accent-1);
            }

            & span {
                color: var(--color-accent-1);

            }
        }

        &:hover {
            & svg {
                fill: var(--color-accent-2);
            }

            & span {
                color: var(--color-accent-2);
            }
        }


    }

    &__txt {
        margin-left: 12px;

        @media screen and (max-width: $w576) {
            font-size: 13px;
            color: var(--color-text-2);
        }
    }
}

.attach-filelist {
    width: 100%;

}

.file-attach {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    margin: 12px 12px 12px 0;

    &:hover {
        color: var(--color-accent-2);
    }


    &__name {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
        pointer-events: none;
    }

    &__remove {
        transform: rotate(-45deg);
        font-size: 20px;
        margin-left: 14px;
        cursor: pointer;
        color: var(--color-accent-1);

    }
}