mixin about-company
    section.section-about-company
        .container
            .about-company__top
                .about-company__text
                    .formated-text
                        p: strong Группа компаний MAX Clean Room была основана в 2006 году. За более чем 16 лет работы на рынках стран СНГ, Азии и Европы MAX Clean Room превратилась в одну из ведущих компаний в области проектирования и строительства чистых помещений.
                        p Современные тенденции всех направлений производства двигаются по пути минимизации «человеческого фактора» как в процессе производства, так и в воздействии на конечный продукт.
                .about-company__image
                    +picture('/img/common/logo-big-colors')