include ../../../views/helpers/mixins.pug

.popup-tooltip
    .popup-tooltip__title Сравнение
    .popup-tooltip__desc Добавлены 3 товара.
    .popup-tooltip__btn
        a(href='/compare.html'): button.btn.btn-small Перейти в сравнение