header {
    background-color: #fff;
}

.header {

    display: flex;
    padding: 10px 0;


    @media screen and (min-width: $w1440) {
        padding: 16px 0;
    }

    &__logo {

        display: flex;
        align-items: center;
        padding-left: 0;
        margin-right: 38px;

        @media screen and (max-width: $w576) {
            margin-right: 16px;
        }

        @media screen and (min-width: $w992) {
            margin-left: 0;
        }

        & .bgimage {
            display: inline-block;
            width: 140px;
            height: 68px;
            @include bgimage-contain;

            @media screen and (min-width: $w576) {
                height: 60px;
                width: 160px;
            }

            @media screen and (min-width: $w1440) {
                width: 180px;
                height: 68px;
            }
        }
    }

    &__links {

        display: flex;
        align-items: center;



        & ul {

            display: flex;
            align-items: center;
            height: 100%;

            & li {

                padding: 6px 14px;

                @media screen and (max-width: $w992) {
                    display: none;

                    &:first-child {
                        display: block;
                    }
                }

                & a {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;

                    @media screen and (min-width: $w1440) {
                        font-size: 15px;
                    }

                    & span {
                        padding-left: 8px;
                    }

                    & svg {
                        fill: var(--color-accent-1);
                    }

                    &:hover {
                        color: var(--color-accent-2);

                        & svg {
                            fill: var(--color-accent-2);

                        }
                    }
                }
            }
        }


    }

    &__logout {
        margin-left: auto;
        display: flex;
        align-items: center;

        & a {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 500;

            @media screen and (max-width: $w576) {
                background-color: var(--color-bg-2);
                width: 48px;
                height: 48px;
                justify-content: center;
                border-radius: 6px;

                & svg {
                    margin-right: 0;
                }
            }

            & span {
                @media screen and (max-width: $w576) {
                    display: none;
                }
            }

            &:hover {
                color: var(--color-accent-2);

                & svg {
                    fill: var(--color-accent-2);
                }
            }
        }

        & svg {
            fill: var(--color-accent-1);
            margin-right: 10px;
        }
    }
}