.header-top {

    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--color-borders-2);
    font-size: 14px;
    height: 41px;
    display: none;
    position: relative;
    z-index: 155;

    @media screen and (min-width: $w576) {
        display: block;
    }

    & .container {
        height: 100%;
    }

    &__wrp {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

    &__nav {

        display: flex;
        align-items: stretch;
        flex-grow: 1;
        display: none;


        @media screen and (min-width: $w1200) {
            display: block;
        }




        &>ul {
            display: flex;
            align-items: center;
            justify-content: center;

            &>li {
                padding: 0 13px;
                position: relative;

                @media screen and (min-width: $w1440) {
                    padding: 0 14px;
                }

                &.isset-sub {
                    &>a {
                        &::after {
                            content: '';
                            width: 20px;
                            height: 18px;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-left: 6px;
                            filter: grayscale(1) brightness(0);
                            transition: transform 0.3s ease;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yMzEuMmEuODguODggMCAwMTEuMTE3IDBMNSAzLjM1NCA4LjY1Mi4yQS44OC44OCAwIDAxOS43Ny4yYS42MTguNjE4IDAgMDEwIC45NjRMNS41NTkgNC44YS44OC44OCAwIDAxLTEuMTE3IDBMLjIzMiAxLjE2NGEuNjE4LjYxOCAwIDAxMC0uOTY0eiIgZmlsbD0iIzA0QyIvPjwvc3ZnPg==);
                        }
                    }
                }

                & a {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;

                }

                &:hover {

                    &>a {
                        color: var(--color-accent-2);

                        &::after {
                            filter: none;
                            transform: rotate(180deg);
                        }
                    }

                    & .sub-menu {
                        visibility: visible;

                        transform: translateY(0);
                        opacity: 1;

                        & li {

                            opacity: 1;

                            background-color: #fff;
                        }
                    }
                }
            }
        }

        & .sub-menu {
            position: absolute;
            left: -2px;
            top: calc(100% + 1px);
            max-width: 420px;
            min-width: 320px;
            z-index: 5;
            transform: translateY(15px);
            transition: 0.3s ease;
            border-radius: 0 0 10px 10px;
            box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
            padding: 8px 0;
            overflow: hidden;
            background-color: #fff;
            opacity: 0;
            z-index: 110;


            &>li {
                padding-left: 24px;
                padding-right: 24px;


                background-color: var(--color-bg-2);
                transition: opacity .4s, transform .5s;
                opacity: 0;

                @media screen and (min-width: $w992) {
                    padding-left: 12px;
                    padding-right: 12px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }



                &>a {
                    height: 40px;
                    font-size: 14px;

                    @media screen and (min-width: $w1440) {
                        font-size: 16px;
                    }

                    @media screen and (min-width: $w992) {

                        border-radius: 6px;
                        padding-left: 12px;
                        padding-right: 12px;


                    }

                    &:hover {
                        background-color: var(--color-bg-3) !important;
                    }
                }
            }
        }

        & .sub-menu {
            visibility: hidden;

        }
    }

    &__region {
        display: flex;
        align-items: center;
        border-left: 1px solid var(--color-borders-2);
        border-right: 1px solid var(--color-borders-2);
        padding-right: 16px;
        padding-left: 16px;

        &:hover {
            background-color: #fff;
        }
    }

    &__personal {
        display: flex;
        align-items: stretch;
        margin-left: auto;


    }

    &__compare {
        height: 100%;

        &:hover {
            background-color: #fff;
        }
    }

    &__profile {
        border-right: 1px solid var(--color-borders-2);

        &:hover {
            background-color: #fff;
        }
    }
}

.header-top-btn {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-left: 1px solid var(--color-borders-2);
    height: 100%;
    font-weight: 500;

    & svg {
        fill: var(--color-accent-1);
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__text {
        padding-left: 8px;
    }

    &__count {
        color: var(--color-accent-1);
        font-weight: 500;
        padding-left: 5px;


    }
}

.header-region {

    position: relative;



    &__label {
        cursor: pointer;

        display: flex;
        align-items: center;
        color: var(--color-text-2);

        & .is-active {
            padding-left: 26px;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 18px auto;
            margin-left: 6px;
        }
    }

    &__list {

        right: -17px;
        left: -17px;
        top: calc(100%);
        position: absolute;
        padding-top: 12px;
        opacity: 0;
        transform: translateY(-5px);
        visibility: hidden;
        transition: 0.3s ease;
        z-index: 5;


        & ul {
            background-color: rgb(255, 255, 255);
            border: 1px solid var(--color-borders-2);
            padding: 4px 6px;
            border-radius: 4px;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
            max-height: 15vh;
            overflow-y: auto;
        }

        & li {

            padding: 6px 8px;

            &:hover {
                background-color: var(--color-bg-3);
                border-radius: 4px;
            }

            & span,
            & a {
                padding-left: 26px;
                background-position: left center;
                background-repeat: no-repeat;
                background-size: 18px auto;
                cursor: pointer;
                width: 100%;
                display: block;
            }
        }
    }

    &:hover {

        & .header-region {
            &__list {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }
        }


    }
}