header {

    background-color: #fff;
}

.header {

    position: relative;
    z-index: 150;

    & .container {
        @media screen and (max-width: $w576) {
            padding-right: 0;
        }
    }

    &__wrp {
        display: flex;

        @media screen and (min-width: $w760) {
            padding: 7px 0;
        }

        @media screen and (min-width: $w1440) {
            padding: 15px 0;
        }
    }

    &__leftbar {
        display: flex;
        align-items: center;
    }

    &__burger {
        display: flex;
        width: 48px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-right: 1px solid var(--color-borders-1);

        @media screen and (min-width: $w576) {
            height: 46px;
            align-self: center;
            border: none;
            background-color: var(--color-bg-2);
            border-radius: 8px;
            margin-left: 8px;

            &:hover {
                background-color: var(--color-bg-3);
            }
        }

        @media screen and (min-width: $w992) {
            width: 64px;
            display: none;
        }

        &:hover {
            background-color: var(--color-bg-2);
        }

    }

    &__logo {

        display: flex;
        align-items: center;

        margin-right: auto;
        padding-left: 0;

        @media screen and (min-width: $w992) {

            margin-left: 0;

        }


        & .bgimage {
            display: inline-block;
            width: 160px;
            height: 68px;
            @include bgimage-contain;

            @media screen and (min-width: $w576) {
                height: 60px;
            }

            @media screen and (min-width: $w1440) {
                width: 180px;
                height: 68px;
            }
        }
    }

    &__links {

        display: flex;
        align-items: center;

        & .header-catalog-button {

            padding: 0 12px;
            border-left: 1px solid var(--color-borders-2);
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;



            @media screen and (min-width: $w576) {
                height: 46px;
                border: none;
                background-color: var(--color-bg-2);
                border-radius: 8px;
                margin-left: 8px;

                &:hover {
                    background-color: var(--color-bg-3);
                }
            }

            @media screen and (min-width: $w992) {
                display: none;
            }

            &:hover {
                background-color: var(--color-bg-2);
            }

            & svg {
                fill: var(--color-accent-1);
            }
        }

        & ul {

            @media screen and (min-width: $w992) {
                display: flex;
            }

            display: none;
            align-items: center;
            height: 100%;

            & li {

                padding: 6px 14px;

                & a {
                    display: flex;
                    align-items: center;
                    font-size: 14px;

                    @media screen and (min-width: $w1440) {
                        font-size: 15px;
                    }

                    & span {
                        padding-left: 8px;
                    }

                    & svg {
                        fill: var(--color-accent-1);
                    }

                    &:hover {
                        color: var(--color-accent-2);

                        & svg {
                            fill: var(--color-accent-2);

                        }
                    }
                }
            }
        }


    }

    &__contacts {

        display: flex;
        align-items: center;
        position: relative;

        @media screen and (min-width: $w992) {
            margin-left: auto;
        }
    }

    &__contact {
        margin-left: 16px;
        display: flex;
        align-items: center;

        @media screen and (min-width: $w1440) {
            margin-left: 32px;
        }

        &--time {
            display: none;

            @media screen and (min-width: $w1440) {
                display: block;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }



}



.header-phone-button {

    padding: 0 12px;
    border-left: 1px solid var(--color-borders-2);
    border-right: 1px solid var(--color-borders-2);
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media screen and (min-width: $w576) {
        height: 46px;
        border: none;
        background-color: var(--color-bg-2);
        border-radius: 8px;
        margin-left: 8px;

        &:hover {
            background-color: var(--color-bg-3);
        }
    }

    @media screen and (min-width: $w1200) {
        display: none;
    }

    &:hover {
        background-color: var(--color-bg-2);
    }
}

.header-phone-wrp {
    display: none;

    @media screen and (min-width: $w1200) {
        display: flex;
    }

    @media screen and (max-width: $w1200) {
        &.is-open {
            display: flex;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 5;
            background-color: var(--color-bg-2);
            padding: 12px;
            flex-direction: column;
            border-radius: 12px;
            white-space: nowrap;

            @media screen and (max-width: $w576) {
                right: -38px;
                top: calc(100% + 8px);
            }

            & .header__contact {
                margin-left: 0;

                &--white {
                    background-color: #fff;
                    padding: 6px 12px;
                    border-radius: 7px;
                    margin-bottom: 12px;
                }

                & a,
                & .btn {
                    width: 100%;
                }
            }


        }
    }


}

.dropdown {

    position: relative;
    height: 100%;
    padding: 15px;

    &__list {
        visibility: hidden;
        position: absolute;
        top: 100%;
        z-index: 3;
        right: 0;
        min-width: 100%;
        padding-top: 4px;



        & li {
            padding: 15px;
            background-color: var(--color-bg-6);
            -webkit-perspective: 400px;
            -moz-perspective: 400px;
            -ms-perspective: 400px;
            -o-perspective: 400px;
            perspective: 400px;
            opacity: 0;
            transform: rotateY(-90deg);
            z-index: 4;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100%;




        & span {
            padding-left: 14px;
            font-weight: 500;
            display: none;

            @media screen and (min-width: $w375) {
                display: block;
            }
        }


    }

    &:hover {
        & .dropdown {
            &__list {
                visibility: visible;
                opacity: 1;

                & li {
                    opacity: 1;
                    transform: rotateY(0);
                    z-index: 12;
                    transition: opacity .4s, transform .5s;
                }
            }
        }
    }
}

.header-callback {
    display: flex;
    align-items: center;
    width: 100%;

    & .btn {
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 5px;

        &:hover {
            background-color: var(--color-accent-2);
            color: #fff;
        }
    }

    @media screen and (min-width: $w1440) {
        margin-left: 32px;
    }
}

.header-contact {
    &__label {
        font-size: 14px;
        color: var(--color-accent-1);

        & a {
            color: var(--color-accent-1);

            &:hover {
                text-decoration: underline;
                color: var(--color-accent-2);
            }
        }

    }

    &__value {
        & a {
            font-weight: 700;
        }
    }
}

@import 'header-menu.scss';
@import 'header-top.scss';