- 
  const app = {

    mainMenu: [ 
      { 
        text: 'Передаточные окна',  
        href: '/catalog.html', 
        icon: false
      },
      { 
        text: 'Воздушные души',  
        href: '/catalog.html', 
        icon: false,

         
        sub: [
        {text: 'Высокой эффективности', 'href': '/category.html'},
            {text: 'Автоматические', 'href': '/category.html'},
            {text: 'Базовые серии SB', 'href': '/category.html'},
            {text: 'Базовые серии SBN', 'href': '/category.html'},
            {text: 'Высокоскоростные', 'href': '/category.html'},
            {text: 'С вертикальным обдувом', 'href': '/category.html'},
            {text: 'Из нержавеющей стали', 'href': '/category.html'},
            {text: 'Туннельные', 'href': '/category.html'},
            {text: 'С раздвижной автоматической дверью', 'href': '/category.html'},
            {text: 'С роллетной автоматической дверью', 'href': '/category.html'},
            {text: 'Грузовые', 'href': '/category.html'},
        ]
      },
      { 
        text: 'Панели',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Чистые зоны',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Вентиляция',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Потолочные конструкции',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Двери',  
        href: '/catalog.html', 
        icon: false,
        
      },
     
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
    ],

    topMenu : [
        { 
        text: 'О компании',  
        href: '/about.html', 
        icon: false,
        sub: [
          {text: 'История компании', href: '/about.html'},
          {text: 'Отзывы и благодарности', href: '/about.html'},
          {text: 'Лицензии и сертификаты', href: '/about.html'},
          {text: 'Референс-лист', href: '/about.html'},
          {text: 'Работа в компании', href: '/about.html'},
          {text: 'Новости компании', href: '/about.html'},
          {text: 'Полезные статьи', href: '/about.html'},
          {text: 'Сотрудничество', href: '/about.html'},
          {text: 'Служебный контроль', href: '/about.html'},
        ]
      },
        { 
        text: 'Новости',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Вакансии',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Сотрудничество',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Контакты',  
        href: '/about.html', 
        icon: false
      },
    ]
  } 

    
  const sliderProduct = [
      { img: '/img/products/img',
          title: 'Вытяжной шкаф MCRBK-FH',
          prop: [
              'Оснащены центробежным вентилятором',
              'Закаленное стекло толщиной 5 мм',
              'Противовес ручного переднего окна',
          ]
      },
      { img: '/img/products/img-1',
          title: 'Пассивные боксы с утопленной дверью MCR SB-01e',
          prop: [
              'Материал корпуса: сталь с порошковым покрытием RAL 9003 / сталь с порошковым покрытием RAL 9010',
              'Электронная блокировка дверей',
              
          ]
      },
      { img: '/img/products/img-2',
          title: 'Воздушные души SB-1400/2 с двусторонним обдувом для 2 чел',
          prop: [
              'Внешний размер: 1400x2000x2180 мм (ШxГxВ)',
              'Материал корпуса: Сталь с порошковым покрытием RAL 9003',
              'Сопла из нержавеющей стали: 24 шт.',
          ]
      },
      { img: '/img/products/img-3',
          title: 'Профили для чистых помещений',
          prop: [
              'Направляющий П-профиль (800 м.п)',
              'Межпанельный профиль для сэндвич-панели (1000 м.п)',
              'И многие другие (переходите на страницу товара)',
          ]
      },
      { img: '/img/products/img-2',
          title: 'Воздушные души SB-1400/2 с двусторонним обдувом для 2 чел',
          prop: [
              'Внешний размер: 1400x2000x2180 мм (ШxГxВ)',
              'Материал корпуса: Сталь с порошковым покрытием RAL 9003',
              'Сопла из нержавеющей стали: 24 шт.',
          ]
      },
    ]

 

    const catalog = [
    {
      title: 'Оснащение для чистых помещений',
      icon: '/img/icons-catalog/header-catalog-icon/01.svg',
      sub: [
        {
          title: 'Передаточные боксы',
          image: '/img/category/1/img.jpg',
          sub: [
            {title: 'Активные'},
            {title: 'Пассивные'},
          ]
        },
        {
          title: 'Воздушные души',
          image: '/img/category/1/img-1.jpg',
          sub: [
            {title: 'Высокой эффективности'},
            {title: 'Автоматические'},
            {title: 'Базовые серии SB'},
            {title: 'Базовые серии SBN'},
            {title: 'Высокоскоростные'},
            {title: 'С вертикальным обдувом'},
            {title: 'Из нержавеющей стали'},
            {title: 'Туннельные'},
            {title: 'С раздвижной автоматической дверью'},
            {title: 'С роллетной автоматической дверью'},
            {title: 'Грузовые'},
            
          ]
        },
        {
          title: 'Вытяжное оборудование',
          image: '/img/category/1/img-2.jpg',
          sub: [
           {title: 'Вытяжные шкафы'},
           {title: 'Мобильная вытяжка'},
             
          ]
        },
        {
          title: 'Боксы биологической безопасности',
          image: '/img/category/1/img-3.jpg',
          sub: [
            {title: 'Класс I'},
            {title: 'Класс II'},
           
          ]
        },
        {
          title: 'Ламинарные шкафы',
          image: '/img/category/1/img-frame.jpg',
          sub: [
            {title: 'Вертикальные'},
            {title: 'Горизонтальные'},
            {title: 'ПЦР-боксы'},
           
            
          ]
        },
        {
          title: 'Камеры измерение температуры и дезинфекции персонала',
          image: '/img/category/1/img-frame-1.jpg',
          sub: [
            {title: 'Камеры дезинфекции'},
            {title: 'Камеры измерения температуры'},
            {title: 'Камеры измерения температуры и дезинфекции'},
           
          ]
        },
        {
          title: 'Ламинарные укрытия',
          image: '/img/category/1/img-frame-2.jpg',
        },
        {
          title: 'Чистые зоны',
          image: '/img/category/1/img-frame-3.jpg',
        },
        {
          title: 'Модульные чистые помещения',
          image: '/img/category/1/img-frame-4.jpg',
        },
        
         
      ]
    },

    {
      title: 'Ограждающие конструкции',
      icon: '/img/icons-catalog/header-catalog-icon/02.svg',
      sub: [
        {
          title: 'Стеновые панели',
          image: '/img/category/2/img-frame.jpg',
          sub: [
            {title: 'Боксы биологической безопасности Класса II'},
            {title: 'Боксы биологической безопасности Класса I'},
            {title: 'Боксы биологической безопасности Класса III'},
            {title: 'Боксы цитотоксической безопасности'},
          ]
        },
        {
          title: 'Потолочные конструкции',
          image: '/img/category/2/img-frame-1.jpg',
        },
        {
          title: 'Двери',
          image: '/img/category/2/img-frame-2.jpg',
        },
        {
          title: 'Плинтусы / профили',
          image: '/img/category/2/img-frame-3.jpg',
        },
        {
          title: 'Напольные покрытия',
          image: '/img/category/2/img-frame-4.jpg',
        },
        {
          title: 'Умные окна',
          image: '/img/category/2/img-frame-5.jpg',
        },
        {
          title: 'Пьедесталы',
          image: '/img/category/2/img-frame-6.jpg',
        }
      ]
    },
    {
      title: 'Вентиляция',
      icon: '/img/icons-catalog/header-catalog-icon/03.svg',
      sub: [
        {
          title: 'Фильтровентиляционные модули',
          image: '/img/category/3/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Системы вентиляции',
          image: '/img/category/3/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Воздухораспределители',
          image: '/img/category/3/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Фильтры очистки воздуха',
          image: '/img/category/3/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Продукция по рентгензащите',
      icon: '/img/icons-catalog/header-catalog-icon/04.svg',
      sub: [
        {
          title: 'Рентгенозащитные ширмы',
          image: '/img/category/4/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные двери',
          image: '/img/category/4/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные окна',
          image: '/img/category/4/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные ставни',
          image: '/img/category/4/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Стерилизация',
      icon: '/img/icons-catalog/header-catalog-icon/05.svg',
      sub: [
        {
          title: 'Стерилизаторы воздуха',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Стерилизаторы инструментов',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Робот-дезинфектор',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Фармацевтическое оборудование',
      icon: '/img/icons-catalog/header-catalog-icon/06.svg',
      sub: [
        {
          title: 'Оборудование для мягких форм',
          image: '/img/category/6/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Оборудование для твёрдых форм',
          image: '/img/category/6/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Оборудование для жидких форм',
          image: '/img/category/6/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Оборудование для лабораторий',
      icon: '/img/icons-catalog/header-catalog-icon/07.svg',
      sub: [
        {
          title: 'Лабораторные посудомоечные машины',
          image: '/img/category/7/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Инкубаторы',
          image: '/img/category/7/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Сушильные шкафы',
          image: '/img/category/7/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Центрифуги',
          image: '/img/category/7/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Роторные испарители',
          image: '/img/category/7/img-frame-4.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Гомогенизаторы',
          image: '/img/category/7/img-frame-5.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Печи для гибридизации',
          image: '/img/category/7/img-frame-6.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Лабораторные термостаты',
          image: '/img/category/7/img-frame-7.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Водяные (масляные) бани',
          image: '/img/category/7/img-frame-8.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Орбитальные шейкеры',
          image: '/img/category/7/img-frame-9.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Термошейкеры',
          image: '/img/category/7/img-frame-10.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Прочее',
      icon: '/img/icons-catalog/header-catalog-icon/08.svg',
      sub: [
        {
          title: 'Медицинская мебель',
          image: '/img/category/8/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Инструменты для чистых помещений',
          image: '/img/category/8/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Дифференциальные манометры',
          image: '/img/category/8/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Светодиодные светильники',
          image: '/img/category/8/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Медные трубы',
          image: '/img/category/8/img-frame-4.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
  ]

  const compare_product = {
      boxes : [
          {
              'img' : '/img/products/compare/bx',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Двухсторонней серии',
          },
          {
              'img' : '/img/products/compare/bx-1',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Серии EC',
          },
          {
              'img' : '/img/products/compare/bx-2',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Серии Pro',
          },
          {
              'img' : '/img/products/compare/bx-3',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Базовой серии',
          },
           {
              'img' : '/img/products/compare/bx-1',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Серии EC',
          },
          {
              'img' : '/img/products/compare/bx-2',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Серии Pro',
          },
            {
              'img' : '/img/products/compare/bx',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Двухсторонней серии',
          },
            {
              'img' : '/img/products/compare/bx-3',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Базовой серии',
          },
           {
              'img' : '/img/products/compare/bx-1',
              'title' : 'Боксы биологической безопасности Класса II, Типа A2, Серии EC',
          },
          
          
      ],


      cabinets : [
          {
              'img' : '/img/products/compare/cb',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V680 ',
          },
          {
              'img' : '/img/products/compare/cb2',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V800 ',
          },
          {
              'img' : '/img/products/compare/cb3',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V960 ',
          },
            {
              'img' : '/img/products/compare/cb',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V680 ',
          },
            {
              'img' : '/img/products/compare/cb2',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V800 ',
          },
          {
              'img' : '/img/products/compare/cb3',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V960 ',
          },
            {
              'img' : '/img/products/compare/cb',
              'title' : 'Вертикальный ламинарный шкаф MCRBBS-V680 ',
          },
          
        ],


      windows : [
          {
              'img' : '/img/products/compare/ww',
              'title' : 'Передаточное окно MCR SB-00 ',
          },
       
          {
              'img' : '/img/products/compare/ww2',
              'title' : 'Передаточное окно MCR SB-01',
          },
       
         
        ]
  }


   

 