- 
  const app = {

    mainMenu: [ 
      { 
        text: 'Передаточные окна',  
        href: '/catalog.html', 
        icon: false
      },
      { 
        text: 'Воздушные души',  
        href: '/catalog.html', 
        icon: false,

         
        sub: [
        {text: 'Высокой эффективности', 'href': '/categoty.html'},
            {text: 'Автоматические', 'href': '/categoty.html'},
            {text: 'Базовые серии SB', 'href': '/categoty.html'},
            {text: 'Базовые серии SBN', 'href': '/categoty.html'},
            {text: 'Высокоскоростные', 'href': '/categoty.html'},
            {text: 'С вертикальным обдувом', 'href': '/categoty.html'},
            {text: 'Из нержавеющей стали', 'href': '/categoty.html'},
            {text: 'Туннельные', 'href': '/categoty.html'},
            {text: 'С раздвижной автоматической дверью', 'href': '/categoty.html'},
            {text: 'С роллетной автоматической дверью', 'href': '/categoty.html'},
            {text: 'Грузовые', 'href': '/categoty.html'},
        ]
      },
      { 
        text: 'Панели',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Чистые зоны',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Вентиляция',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Потолочные конструкции',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Двери',  
        href: '/catalog.html', 
        icon: false,
        
      },
     
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
    ],

    topMenu : [
        { 
        text: 'О компании',  
        href: '/about.html', 
        icon: false,
        sub: [
          {text: 'История компании', href: '/about.html'},
          {text: 'Отзывы и благодарности', href: '/about.html'},
          {text: 'Лицензии и сертификаты', href: '/about.html'},
          {text: 'Референс-лист', href: '/about.html'},
          {text: 'Работа в компании', href: '/about.html'},
          {text: 'Новости компании', href: '/about.html'},
          {text: 'Полезные статьи', href: '/about.html'},
          {text: 'Сотрудничество', href: '/about.html'},
          {text: 'Служебный контроль', href: '/about.html'},
        ]
      },
        { 
        text: 'Новости',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Вакансии',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Сотрудничество',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Контакты',  
        href: '/about.html', 
        icon: false
      },
    ]
  } 



-
  const portfolio = [
      {
          title: 'Q Kema',
          image: '/img/slider/asl_4',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Curved Tube',
          image: '/img/slider/asl_7',
          by: [
              'Виталий Злобин, ',
              'Александра Тимченко',
          ]
      },
      {
          title: 'Hill House',
          image: '/img/slider/asl_5',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Ribbon House',
          image: '/img/slider/asl_8',
          by: [
              'Вероника Артёмова',
          ]
      },
      {
          title: 'Increspatura',
          image: '/img/slider/asl_9',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Фрактал',
          image: '/img/slider/asl_6',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Flat White',
          image: '/img/slider/asl_10',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Corehouse',
          image: '/img/slider/asl_11',
          by: [
              'Егор Холоденко',
          ]
      },
  ]


-
  const article_press ={

      title: 'Пресса о нас',
      classes: '',
      id: 'press',
      
      list:  [
      
        {
            img: '/img/slider/asl_3',
            title: 'Дома, которые впечатляют: обзор необычных построек в Петербурге и области'
        },
        {
            img: '/img/slider/asl_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/slider/asl_4',
            title: 'Более короткий заголовок для примера'
        },
        {
            img: '/img/slider/asl_6',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/slider/asl_7',
            title: 'Дома, которые впечатляют: обзор необычных построек в Петербурге и области'
        },
        {
            img: '/img/slider/asl_8',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
    ]

  }


  const article_blog ={

      title: 'Блог',
      id: 'blog',
      classes: 'section-last-acticles--blog',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        {
            img: '/img/video/video_0',
            title: '15 признаков дома повышенной комфортности'
        },
        {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
        {
            img: '/img/video/video_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
    ]

  }

    const article_details ={

      title: 'Другие похожие статьи',
      id: 'blog',
      classes: 'section-last-acticles--details',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        
    ]

  }


  const  blog ={

      title: 'Блог',
      id: 'blog',
      classes: 'section-last-acticles--blog',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        {
            img: '/img/video/video_0',
            title: '15 признаков дома повышенной комфортности'
        },
        {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
        {
            img: '/img/video/video_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
         {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
         {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
    ]

  }

    const catalog = [
    {
      title: 'Оснащение для чистых помещений',
      icon: '/img/icons-catalog/header-catalog-icon/01.svg',
      sub: [
        {
          title: 'Передаточные боксы',
          image: '/img/category/1/img.jpg',
          sub: [
            {title: 'Активные'},
            {title: 'Пассивные'},
          ]
        },
        {
          title: 'Воздушные души',
          image: '/img/category/1/img-1.jpg',
          sub: [
            {title: 'Высокой эффективности'},
            {title: 'Автоматические'},
            {title: 'Базовые серии SB'},
            {title: 'Базовые серии SBN'},
            {title: 'Высокоскоростные'},
            {title: 'С вертикальным обдувом'},
            {title: 'Из нержавеющей стали'},
            {title: 'Туннельные'},
            {title: 'С раздвижной автоматической дверью'},
            {title: 'С роллетной автоматической дверью'},
            {title: 'Грузовые'},
            
          ]
        },
        {
          title: 'Вытяжное оборудование',
          image: '/img/category/1/img-2.jpg',
          sub: [
           {title: 'Вытяжные шкафы'},
           {title: 'Мобильная вытяжка'},
             
          ]
        },
        {
          title: 'Боксы биологической безопасности',
          image: '/img/category/1/img-3.jpg',
          sub: [
            {title: 'Класс I'},
            {title: 'Класс II'},
           
          ]
        },
        {
          title: 'Ламинарные шкафы',
          image: '/img/category/1/img-frame.jpg',
          sub: [
            {title: 'Вертикальные'},
            {title: 'Горизонтальные'},
            {title: 'ПЦР-боксы'},
           
            
          ]
        },
        {
          title: 'Камеры измерение температуры и дезинфекции персонала',
          image: '/img/category/1/img-frame-1.jpg',
          sub: [
            {title: 'Камеры дезинфекции'},
            {title: 'Камеры измерения температуры'},
            {title: 'Камеры измерения температуры и дезинфекции'},
           
          ]
        },
        {
          title: 'Ламинарные укрытия',
          image: '/img/category/1/img-frame-2.jpg',
        },
        {
          title: 'Чистые зоны',
          image: '/img/category/1/img-frame-3.jpg',
        },
        {
          title: 'Модульные чистые помещения',
          image: '/img/category/1/img-frame-4.jpg',
        },
        
         
      ]
    },

    {
      title: 'Ограждающие конструкции',
      icon: '/img/icons-catalog/header-catalog-icon/02.svg',
      sub: [
        {
          title: 'Стеновые панели',
          image: '/img/category/2/img-frame.jpg',
          sub: [
            {title: 'Боксы биологической безопасности Класса II'},
            {title: 'Боксы биологической безопасности Класса I'},
            {title: 'Боксы биологической безопасности Класса III'},
            {title: 'Боксы цитотоксической безопасности'},
          ]
        },
        {
          title: 'Потолочные конструкции',
          image: '/img/category/2/img-frame-1.jpg',
        },
        {
          title: 'Двери',
          image: '/img/category/2/img-frame-2.jpg',
        },
        {
          title: 'Плинтусы / профили',
          image: '/img/category/2/img-frame-3.jpg',
        },
        {
          title: 'Напольные покрытия',
          image: '/img/category/2/img-frame-4.jpg',
        },
        {
          title: 'Умные окна',
          image: '/img/category/2/img-frame-5.jpg',
        },
        {
          title: 'Пьедесталы',
          image: '/img/category/2/img-frame-6.jpg',
        }
      ]
    },
    {
      title: 'Вентиляция',
      icon: '/img/icons-catalog/header-catalog-icon/03.svg',
      sub: [
        {
          title: 'Фильтровентиляционные модули',
          image: '/img/category/3/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Системы вентиляции',
          image: '/img/category/3/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Воздухораспределители',
          image: '/img/category/3/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Фильтры очистки воздуха',
          image: '/img/category/3/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Продукция по рентгензащите',
      icon: '/img/icons-catalog/header-catalog-icon/04.svg',
      sub: [
        {
          title: 'Рентгенозащитные ширмы',
          image: '/img/category/4/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные двери',
          image: '/img/category/4/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные окна',
          image: '/img/category/4/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Рентгенозащитные ставни',
          image: '/img/category/4/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Стерилизация',
      icon: '/img/icons-catalog/header-catalog-icon/05.svg',
      sub: [
        {
          title: 'Стерилизаторы воздуха',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Стерилизаторы инструментов',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Робот-дезинфектор',
          image: '/img/category/5/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Фармацевтическое оборудование',
      icon: '/img/icons-catalog/header-catalog-icon/06.svg',
      sub: [
        {
          title: 'Оборудование для мягких форм',
          image: '/img/category/6/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Оборудование для твёрдых форм',
          image: '/img/category/6/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Оборудование для жидких форм',
          image: '/img/category/6/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Оборудование для лабораторий',
      icon: '/img/icons-catalog/header-catalog-icon/07.svg',
      sub: [
        {
          title: 'Лабораторные посудомоечные машины',
          image: '/img/category/7/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Инкубаторы',
          image: '/img/category/7/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Сушильные шкафы',
          image: '/img/category/7/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Центрифуги',
          image: '/img/category/7/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Роторные испарители',
          image: '/img/category/7/img-frame-4.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Гомогенизаторы',
          image: '/img/category/7/img-frame-5.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Печи для гибридизации',
          image: '/img/category/7/img-frame-6.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Лабораторные термостаты',
          image: '/img/category/7/img-frame-7.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Водяные (масляные) бани',
          image: '/img/category/7/img-frame-8.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Орбитальные шейкеры',
          image: '/img/category/7/img-frame-9.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Термошейкеры',
          image: '/img/category/7/img-frame-10.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
    {
      title: 'Прочее',
      icon: '/img/icons-catalog/header-catalog-icon/08.svg',
      sub: [
        {
          title: 'Медицинская мебель',
          image: '/img/category/8/img-frame.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Инструменты для чистых помещений',
          image: '/img/category/8/img-frame-1.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Дифференциальные манометры',
          image: '/img/category/8/img-frame-2.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Светодиодные светильники',
          image: '/img/category/8/img-frame-3.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
        {
          title: 'Медные трубы',
          image: '/img/category/8/img-frame-4.jpg',
          sub: [
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
            {title: 'Меню уровень 3'},
          ]
        },
      ]
    },
  ]


   

 