- 
  const app = {

    mainMenu: [ 
      { 
        text: 'Передаточные окна',  
        href: '/services.html', 
        icon: false
      },
      { 
        text: 'Воздушные души',  
        href: '#', 
        icon: false,
      },
      { 
        text: 'Панели',  
        href: '/projects.html', 
        icon: false,
      },
      { 
        text: 'Чистые зоны',  
        href: '/projects.html', 
        icon: false,
      },
      { 
        text: 'Вентиляция',  
        href: '/projects.html', 
        icon: false,
      },
      { 
        text: 'Потолочные конструкции',  
        href: '/projects.html', 
        icon: false,
      },
      { 
        text: 'Двери',  
        href: '/about.html', 
        icon: false,
        sub: [
          {text: 'Наша команда', href: '/about.html'},
          {text: 'Пресса о нас', href: '/about.html'},
          {text: 'Блог', href: '/blog.html'},
          {text: 'Контакты', href: '/contacts.html'},
          {text: 'Книги', href: '/books.html'},
        ]
      },
     
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
    ],

    topMenu : [
        { 
        text: 'О компании',  
        href: '/about.html', 
        icon: false,
        sub: [
          {text: 'История компании', href: '/about.html'},
          {text: 'Отзывы и благодарности', href: '/about.html'},
          {text: 'Лицензии и сертификаты', href: '/about.html'},
          {text: 'Референс-лист', href: '/about.html'},
          {text: 'Работа в компании', href: '/about.html'},
          {text: 'Новости компании', href: '/about.html'},
          {text: 'Полезные статьи', href: '/about.html'},
          {text: 'Сотрудничество', href: '/about.html'},
          {text: 'Служебный контроль', href: '/about.html'},
        ]
      },
        { 
        text: 'Новости',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Вакансии',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Сотрудничество',  
        href: '/about.html', 
        icon: false
      },
        { 
        text: 'Контакты',  
        href: '/about.html', 
        icon: false
      },
    ]
  } 



-
  const portfolio = [
      {
          title: 'Q Kema',
          image: '/img/slider/asl_4',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Curved Tube',
          image: '/img/slider/asl_7',
          by: [
              'Виталий Злобин, ',
              'Александра Тимченко',
          ]
      },
      {
          title: 'Hill House',
          image: '/img/slider/asl_5',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Ribbon House',
          image: '/img/slider/asl_8',
          by: [
              'Вероника Артёмова',
          ]
      },
      {
          title: 'Increspatura',
          image: '/img/slider/asl_9',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Фрактал',
          image: '/img/slider/asl_6',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Flat White',
          image: '/img/slider/asl_10',
          by: [
              'Егор Холоденко',
          ]
      },
      {
          title: 'Corehouse',
          image: '/img/slider/asl_11',
          by: [
              'Егор Холоденко',
          ]
      },
  ]


-
  const article_press ={

      title: 'Пресса о нас',
      classes: '',
      id: 'press',
      
      list:  [
      
        {
            img: '/img/slider/asl_3',
            title: 'Дома, которые впечатляют: обзор необычных построек в Петербурге и области'
        },
        {
            img: '/img/slider/asl_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/slider/asl_4',
            title: 'Более короткий заголовок для примера'
        },
        {
            img: '/img/slider/asl_6',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/slider/asl_7',
            title: 'Дома, которые впечатляют: обзор необычных построек в Петербурге и области'
        },
        {
            img: '/img/slider/asl_8',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
    ]

  }


  const article_blog ={

      title: 'Блог',
      id: 'blog',
      classes: 'section-last-acticles--blog',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        {
            img: '/img/video/video_0',
            title: '15 признаков дома повышенной комфортности'
        },
        {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
        {
            img: '/img/video/video_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
    ]

  }

    const article_details ={

      title: 'Другие похожие статьи',
      id: 'blog',
      classes: 'section-last-acticles--details',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        
    ]

  }


  const  blog ={

      title: 'Блог',
      id: 'blog',
      classes: 'section-last-acticles--blog',

      list:  [
      
        {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
        {
            img: '/img/video/video_2',
            title: 'Как выбрать проект дома?'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
        {
            img: '/img/video/video_0',
            title: '15 признаков дома повышенной комфортности'
        },
        {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
        {
            img: '/img/video/video_5',
            title: 'Объявлены победители конкурса «Красивые деревянные дома — 2023»'
        },
        {
            img: '/img/video/video_3',
            title: 'Планировки загородного дома площадью от 50 до 70 м2'
        },
         {
            img: '/img/video/video_4',
            title: 'Что такое квартирное мышление в проектировании и строительстве своего загородного дома ?'
        },
         {
            img: '/img/video/video_1',
            title: 'Правила создания плоской крыши'
        },
    ]

  }

   

 