.formated-text {

    & h1 {
        @include font-h1;
        margin-bottom: 0.7em
    }

    & h2 {
        @include font-h2;
        margin-bottom: 0.7em
    }

    & h3 {
        @include font-h3;
        margin-bottom: 0.7em
    }

    & h4 {
        @include font-h4;
        margin-bottom: 0.7em
    }

    & h5 {
        @include font-h5;
        margin-bottom: 0.7em
    }

    & * {
        line-height: 140%;
    }

    & h5,
    & h6 {
        margin-bottom: 25px;
        line-height: 120%;
        font-size: 16px;
        font-weight: 700;
    }

    @media screen and (min-width: $w1200) {

        & h4 {

            margin-top: 0.2em;
        }

        & h3 {

            margin-top: 0.2em;
        }

        & h4 {

            margin-top: 0.2em;
        }

        & h5 {

            margin-top: 1.5em;
        }

        & h6 {

            margin-top: 0.2em;
        }
    }

    & .table {
        overflow-x: auto;
    }

    & table {

        border: 1px solid #DDDDDD;
        border-collapse: collapse;
        margin: 35px 0;
        width: 100%;
        min-width: 600px;

        & th {
            padding: 13px 25px;
            background-color: #DFF0FD;
            color: #000;
            text-decoration: transparent;
            font-weight: bold;
            text-align: left;
            border: 1px solid #CACACA;
            border-bottom-color: transparent;

            &:first-child {
                text-align: left;
            }

            @media screen and (min-width: $w760) {
                padding: 15px 25px;

            }


        }

        & td {
            padding: 10px 15px;
            border: 1px solid #CACACA;
            font-weight: normal;
            text-align: left;
            min-width: 150px;

            &:first-child {
                text-align: left;
                font-weight: bold;
            }

            @media screen and (min-width: $w760) {
                padding: 10px 25px;

            }

            & strong {
                display: block;
                margin-bottom: 10px;
            }

            &:first-child {
                font-weight: normal;
            }
        }

    }

    & a {
        color: var(--color-accent-2);

        &:hover {
            text-decoration: underline;
        }
    }

    & div:not([class]),
    & p {
        margin: 10px 0;
        line-height: 155%;

        @media screen and (min-width: $w1440) {
            margin: 20px 0;
        }
    }

    & ul {

        margin: 20px 0;
        padding-left: 8px;

        @media screen and (min-width: $w760) {
            padding-left: 20px;
        }

        & li {

            position: relative;
            padding-left: 16px;
            padding-left: 20px;
            padding-bottom: 10px;

            @media screen and (min-width: $w1440) {
                padding-bottom: 14px;
                padding-left: 30px;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                display: block;
                position: absolute;
                left: 4px;
                top: 0.6em;
                transform: rotate(45deg);
                border-radius: 1px;
                background-color: var(--color-accent-2);
            }
        }
    }

    & img {

        margin: 24px 0;
    }

    & ol {
        counter-reset: number-list 00;
        margin: 20px 0;
        padding-left: 8px;

        @media screen and (min-width: $w760) {
            padding-left: 20px;
        }

        &>li {

            counter-increment: number-list 1;
            list-style-type: none;
            position: relative;
            margin-bottom: 10px;

            padding-left: 20px;

            @media screen and (min-width: $w760) {

                padding-left: 30px;
            }



            &::before {
                content: counter(number-list)"/";
                color: var(--color-accent-2);
                min-width: 35px;
                display: inline-block;
                position: absolute;
                left: 0;
                font-weight: 600;

                @media screen and (min-width: $w760) {}
            }
        }
    }

    & strong {
        font-weight: 700;
    }

    & .note {
        background: var(--bg-01);
        padding: 16px;
        border-radius: 8px;
        margin: 1.5em 0;

        & strong {
            color: $main;
            font-weight: 600;

            display: block;
        }

        & p {
            margin: 0.7em 0;
        }
    }

    & blockquote {
        border: none;
        padding: 16px;
        font-size: 14px;
        background-color: #EFF8FF;
        line-height: 147%;

        @media screen and (min-width: $w760) {
            font-size: 16px;
            padding: 20px 24px;
        }
    }
}